@use '../../utils' as *;

// 共通的なアニメーションを定義(jsによる制御を含むアニメーション)
//////////////////////////////////////////
// フェードイン
//////////////////////////////////////////
@mixin fadeInDefault {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    @include fadeInDefault;
  }
  100% {
    opacity: 1;
  }
}

// jsで付与
.anime_fadeIn {
  @include fadeInDefault;
  &.is_active {
    animation: fadeIn 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}

/////////////////////////////////////////
// フェードイン(アップ)
/////////////////////////////////////////
@mixin fadeUpDefault {
  transform: translateY(35px);
  opacity: 0;
  @include pc {
    transform: translateY(50px);
  }
}

@keyframes fadeUp {
  0% {
    @include fadeUpDefault;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// jsで付与
.anime_fadeUp {
  @include fadeUpDefault;
  &.is_active {
    animation: fadeUp 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}


/////////////////////////////////////////
// 画像拡大⇒縮小
/////////////////////////////////////////
@mixin imgScaleDefault {
  transform: scale(1.3);
}

@keyframes imgScale {
  0% {
    @include imgScaleDefault;
  }
  100% {
    transform: scale(1);
  }
}

// jsで付与
.anime_imgScale {
  @include imgScaleDefault;
  &.is_active {
    animation: imgScale 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}

/////////////////////////////////////////
// 背景画像拡大⇒縮小
/////////////////////////////////////////
@mixin bgImgScaleDefault {
  background-size: 130%;
  background-position: center;
}

@keyframes bgImgScale {
  0% {
    @include bgImgScaleDefault;
  }
  100% {
    background-size: cover;
  }
}

// jsで付与
.anime_bgImgScale {
  @include bgImgScaleDefault;
  &.is_active {
    animation: bgImgScale 2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}

/////////////////////////////////////////
// 線アニメーション
/////////////////////////////////////////
@mixin lineDefault {
  width: 3.2rem;
}

@keyframes line {
  0% {
    @include lineDefault;
  }
  100% {
    width: 100%;
  }
}

// jsで付与
.anime_line {
  &::before {
    @include lineDefault;
  }
  &.is_active {
    &::before {
      animation: line 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }
  }
}


/////////////////////////////////////////
// フェードイン(レフト) ※TOPSERVICE用
/////////////////////////////////////////
@mixin fadeLeftDefaultPc {
  opacity: 0;
  @include pc {
    transform: translateX(calc(100% - 80px));
  }
}
@mixin fadeLeftDefaultSp {
  transform: translateX(-80px);
}

@keyframes fadeLeftPc {
  0% {
    @include fadeLeftDefaultPc;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes fadeLeftSp {
  0% {
    @include fadeLeftDefaultSp;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// jsで付与
.top_service_img.anime_fadeLeft {
  @include fadeLeftDefaultSp;
    &.is_active {
      animation: fadeLeftSp 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }
  @include pc {
    @include fadeLeftDefaultPc;
    &.is_active {
      animation: fadeLeftPc 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }
  }
}


/////////////////////////////////////////
// アップ
/////////////////////////////////////////
@mixin transUpDefault {
  transform: translateY(35px);
  @include pc {
    transform: translateY(50px);
  }
}

@keyframes transUp {
  0% {
    @include transUpDefault;
  }
  100% {
    transform: translateY(0);
  }
}

// jsで付与
.anime_transUp {
  @include transUpDefault;
  &.is_active {
    animation: transUp 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
}