@use '../../utils' as *;

.bl_head {
  $_bk: &;
  margin-bottom: 3rem;
  &.__center {
    text-align: center;
  }
  &.__spCenter {
    @include spLayoutOnly {
      text-align: center;
    }
  }
  &.__white {
    #{$_bk} {
      &_sub {
        color: $color_white
      }
      &_text {
        color: $color_white
      }
    }
  }
  &.__noPcMb {
    @include pc {
      margin-bottom: 0;
    }
  }
  &_sub {
    @include font(12, 12, 0, 700);
    color: $color_theme;
    @include pc {
      @include font(13, 13, 0, 700);
    }
  }
  &_text {
    @include font(33, 39, 50, 700);
    margin-top: 1rem;
    @include pc {
      @include font(60, 70, 100, 700);
      margin-top: 1.6rem;
    }
    span {
      color: $color_theme;
    }
    &.__large {
      font-size: 3.5rem;
      @include pc {
        font-size: 6rem;
      }
    }
    &.__pcLarge {
      @include pc {
        font-size: 7rem;
      }
    }
  }
}

.bl_head2 {
  margin-bottom: 5rem;
  &.__center {
    text-align: center;
  }
  &_sub {
    @include font(14, 14, 50, 700);
    @include pc {
      font-size: 1.8rem;
    }
  }
  &_text {
    @include font(35, 42, 0, 700);
    color: $color_theme;
    margin-top: 1rem;
    @include pc {
      font-size: 5.1rem;
      margin-top: 1.2rem;
    }
  }
}

.bl_head3 {
  $_bk: &;
  margin-bottom: 3rem;
  @include pc {
    margin-bottom: 4.5rem;
  }
  &.__noPcMb {
    @include pc {
      margin-bottom: 0 !important;
    }
  }
  &.__center {
    text-align: center;
    #{$_bk}_sub {
      justify-content: center;
    }
  }
  &.__pcCenter {
    @include pc {
      text-align: center;
    }
    #{$_bk}_sub {
      @include pc {
        justify-content: center;
      }
    }
  }
  &_sub {
    @include font(12, 12, 0, 700);
    color: $color_theme;
    align-items: center;
    display: flex;
    gap: 1rem;
    @include pc {
      font-size: 1.5rem;
      gap: 1.1rem;
    }
    &::before {
      content: "";
      display: block;
      border-radius: 100vh;
      background-color: $color_theme;
      min-width: .7rem;
      height: .7rem;
      @include pc {
        min-width: 1.1rem;
        height: 1.1rem;
      }
    }
  }
  &_text {
    @include font(30, 40, 25, 700);
    margin-top: 1.3rem;
    @include pc {
      font-size: 4rem;
      margin-top: 2rem;
    }
    &.__small {
      font-size: 2.7rem;
      line-height: 40 / 27;
      @include pc {
        font-size: 3rem;
        line-height: 36 / 30;
      }
    }
    &.__spSmall {
      font-size: 2.7rem;
      line-height: 40 / 27;
      @include pc {
        font-size: 4rem;
        line-height: 48/ 40;
      }
    }
    &.__nowrap {
      white-space: nowrap;
    }
    &.__bg {
      background-color: $color_white;
      padding: 1.2rem .9rem;
      width: fit-content;
      @include pc {
        padding-block: .7rem;
      }
    }
    &.__noMt {
      margin-top: 0 !important;
    }
  }
}

.bl_serviceUnit {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @include pc {
    grid-template-columns: 1fr 1fr;
    gap: 3.7rem 3rem;
  }
  &.__traiding {
    @include pc {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3.6rem 2.9rem;
    }
  }
}

.bl_service {
  $_bk: &;
  width: 100%;
  height: 19.8rem;
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      background-image: url(#{$image_path}top_img_service#{$i}.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  @include pc {
    height: 23.7rem;
  }
  &.__traiding {
    height: auto;
    @include pc {
      height: 19.2rem;
    }
    @for $i from 1 through 7 {
      &:nth-of-type(#{$i}) {
        background-image: url(#{$image_path}traiding_img_list#{$i}.jpg);
        background-size: cover;
        background-position: center;
      }
    }
    #{$_bk}_inner {
      text-align: center;
      @include spLayoutOnly {
        padding-block: 3.9rem;
        padding-inline: 1.5rem;
      }
      @include pc {
        padding-top: 5.7rem;
        padding-inline: 2.8rem;
      }
    }
    #{$_bk}_head {
      @include pc {
        font-size: 2rem;
      }
    }
  }
  &_inner {
    padding-top: 2.6rem;
    padding-inline: 2.2rem;
    height: 100%;
    @include pc {
      padding-inline: 4.6rem 3.9rem;
      padding-top: 4rem;
    }
  }
  &_head {
    @include font(22, 28, 50, 700);
    text-align: center;
    color: $color_white;
    @include pc {
      font-size: 2.5rem;
    }
  }
  &_text {
    @include font(12, 18, 25, 700);
    margin-top: 2rem;
    color: $color_white;
    @include pc {
      font-size: 1.4rem;
      text-align: left;
      margin-top: 2.4rem;
    }
  }
}

.bl_labelUnit {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
}

.bl_news {
  $_bk: &;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include tabOnly {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
  }
  &_item {
    padding-bottom: 2rem;
    border-bottom: max(.05rem, .5px) solid $color_gray3;
    @include tabOnly {
      padding-bottom: 1rem;
    }
    a {
      @include hover {
        #{$_bk}_icon {
          transform: scale(.9);
        }
        #{$_bk}_text {
          color: $color_theme;
        }
      }
      width: 100%;
      @include pc {
        display: flex;
        gap: 3.3rem;
        align-items: center;
      }
    }
  }
  &_imgWrap {
    aspect-ratio: 350 / 192;
    width: 100%;
    height: auto;
    margin-bottom: 2.2rem;
    box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
    @include pc {
      aspect-ratio: 213 / 131;
      width: 21.3rem;
      min-width: 21.3rem;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3.4rem;
    @include tabOnly {
      gap: 1rem;
    }
    @include pc {
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
      flex-basis: 0;
      flex-grow: 1;
      padding-right: 3.5rem;
    }
  }
  &_text {
    @include font(13, 23, 50, 700);
    min-height: heightString(2, 1.3rem, 23 / 13);
    margin-top: 1.6rem;
    transition: color .2s;
    @include tabOnly {
      font-size: 1rem;
    }
    @include pc {
      font-size: 1.4rem;
      letter-spacing: .1em;
      margin-top: .8rem;
      min-height: unset;
    }
  }
  &_icon {
    width: 4.6rem;
    height: 4.6rem;
    object-fit: contain;
    transition: transform .3s;
    @include tabOnly {
      width: 2.5rem;
      height: 2.5rem;
    }
    @include pc {
      width: 5.2rem;
      height: 5.2rem;
    }
  }
}

.bl_newsInfo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  &_date {
    @include font(11, 11, 0);
    color: $color_gray;
    @include tabOnly {
      font-size: .85rem;
    }
    @include pc {
      font-size: 1.2rem;
    }
  }
  &_category {
    @include font(11, 11, 50, 700);
    color: $color_theme;
    border-radius: 100vh;
    border: max(.1rem, 1px) solid $color_theme;
    background-color: $color_white;
    padding: .3rem 1.5rem;
    @include tabOnly {
      font-size: .85rem;
    }
    @include pc {
      font-size: 1rem;
    }
  }
}

.bl_secondPageHead {
  $_bk: &;
  padding-top: $height_header_sp;
  padding-bottom: 3.3rem;
  position: relative;
  z-index: 1;
  @include pc {
    padding-top: $height_header_pc;
    padding-bottom: 11rem;
  }
  &.__type2 {
    @include pc {
      padding-bottom: 4rem;
    }
    #{$_bk}_sub {
      @include pc {
        margin-top: 2.2rem;
      }
    }
    #{$_bk}_head {
      @include pc {
        font-size: 3.5rem;
      }
    }
  }
  &.__production {
    @include pc {
      padding-bottom: 9.6rem;
    }
    &::after {
      @include spLayoutOnly {
        background-image: url(#{$image_path}bg_mask_secondPageProduction_sp.jpg);
      }
    }
  }
  &::before,
  &::after {
    background: $color_gradient;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &::after {
    background-image: url(#{$image_path}bg_mask_secondPage_sp.jpg);
    background-size: 100% 100%;
    opacity: .6;
    z-index: -1;
    @include pc {
      background-image: url(#{$image_path}bg_mask.jpg);
      background-size: 100%;
    }
  }
  &:has(.rearlight_subHead) {
    background: unset;
    &::before,
    &::after {
      display: none;
    }
  }
  &:has(.bl_newsInfo) {
    padding-bottom: 5rem;
    @include pc {
      padding-bottom: 10.5rem;
    }
  }
  @include pc {
    padding-top: $height_header_pc;
  }
  &_sub {
    @include font(12, 14, 0, 700);
    color: $color_theme;
    margin-top: 3.3rem;
    @include pc {
      font-size: 1.3rem;
      margin-top: 5.4rem;
    }
  }
  &_head {
    @include font(30, 36, 50, 700);
    margin-top: 1rem;
    @include pc {
      font-size: 6rem;
    }
    &.__nowrap {
      white-space: nowrap;
    }
  }
  .bl_labelUnit {
    margin-top: 3rem;
    @include pc {
      margin-top: 6.5rem;
    }
  }
  &_products {
    @include font(30, 36, 50, 700);
    margin-top: .6rem;
    @include pc {
      @include font(60, 72, 0, 700);
      margin-top: 1.5rem;
    }
  }
  .bl_newsInfo {
    margin-top: 3rem;
    @include pc {
      margin-top: 7.6rem;
    }
  }
  &_inner {
    @include pc {
      display: flex;
      gap: 11.7rem;
    }
  }
  &_headWrap {
    #{$_bk}_head {
      @include pc {
        white-space: nowrap;
      }
    }
  }
  &_textWrap {
    margin-top: 3rem;
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
      margin-top: 8rem;
    }
  }
  &_intro {
    @include font(18, 24, 50, 700);
    color: $color_theme;
    @include pc {
      font-size: 2.7rem;
    }
    &.__noWrap {
      white-space: nowrap;
    }
  }
  &_text {
    @include font(13, 20, 50);
    margin-top: 2rem;
    @include pc {
      @include font(16, 30, 100);
      margin-top: 2.4rem;
    }
  }
}

.bl_product {
  $_bk: &;
  &_link {
    @include hover {
      #{$_bk}_imgWrap {
        opacity: .7;
      }
      #{$_bk}_head {
        color: $color_theme;
      }
      #{$_bk}_text {
        color: $color_theme;
      }
    }
  }
  &_imgWrap {
    aspect-ratio: 309 / 278;
    width: 100%;
    height: auto;
    box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
    transition: opacity .2s;

    &.__wide {
      aspect-ratio: 281 / 222;
    }

    @include pc {
      aspect-ratio: 226 / 214;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_pick {
    @include font(13, 13, 0, 700);
    line-height: 4.5rem;
    text-align: center;
    height: 4.5rem;
    background-color: $color_theme;
    color: $color_white;
    width: 100%;
    @include pc {
      height: 3.1rem;
      line-height: 3.1rem;
    }
  }
  &_head {
    @include font(18, 22, 0, 700);
    margin-top: 2rem;
    transition: color .2s;
    @include pc {
      font-size: 1.6rem;
    }
  }
  &_text {
    @include font(12, 18, 0);
    @include omission(3, 1.2rem, 18 / 12);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transition: color .2s;
    @include pc {
      @include omission(3, 1.2rem, 18 / 12, 'true');
      margin-top: .7rem;
    }
    &.__row2 {
      @include pc {
        @include omission(2, 1.2rem, 18 / 12, 'true');
      }
    }
  }
}

.bl_searchResultArea {
  @include pc {
    display: flex;
    gap: 3rem;
  }
  &_resultWrap {
    @include pc {
      width: 29.9rem;
      min-width: 29.9rem;
    }
  }
  &_itemWrap {
    margin-top: 5rem;
    @include pc {
      margin-top: 0;
      flex-basis: 0;
      flex-grow: 1
    }
  }
}

.bl_searchResult {
  @include pc {
    border-radius: 1rem;
    background-color: $color_gray2;
    padding-block: 3.5rem 7.5rem;
    padding-inline: 2.5rem;
  }
  &_head {
    @include font(18, 18, 50, 700);
    padding-bottom: 1.1rem;
    border-bottom: max(.1rem, 1px) solid $color_theme;
    @include pc {
      padding-bottom: 2rem;
      border-color: $color_gray3;
    }
  }
  &_labelWrap {
    margin-top: 1.5rem;
    @include pc {
      margin-top: 2.7rem;
    }
    &:nth-of-type(2) {
      margin-top: 1.2rem;
      @include pc {
        margin-top: 2.2rem;
      }
    }
  }
  &_labelSubject {
    @include pc {
      @include font(14, 14, 100, 700);
    }
  }
  &_labelUnit {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    @include pc {
      margin-top: .7rem;
    }
  }
}

.bl_searchItemList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  @include pc {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.8rem 5rem;
  }
  &.__lowGap {
    @include spLayoutOnly {
      gap: 5rem;
    }
  }
}

.bl_contactWrap {
  margin-top: 5rem;
  @include pc {
    margin-top: 4rem;
  }
  &_download {
    @include font(18, 24, 0, 700);
    @include hoverOpacity;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color_white;
    background-color: $color_theme;
    border-radius: 100vh;
    width: 35rem;
    min-height: 4.7rem;
    padding-block: 1.5rem;
    margin-bottom: 5rem;
    margin-inline: auto;
    @include pc {
      font-size: 2rem;
      min-height: 5.7rem;
      padding-block: 2rem;
      width: 100%;
    }
  }
  &_inner {
    border-top: max(.1rem, 1px) solid $color_gray3;
    padding-top: 5rem;
    @include pc {
      padding-top: 6.55rem;
    }
  }
  &_text {
    @include font(18, 27, 0, 700);
    text-align: center;
    @include pc {
      font-size: 2rem;
    }
  }
  &_btn {
    @include font(18, 18, 0, 700);
    @include hoverOpacity;
    display: block;
    text-align: center;
    color: $color_theme;
    background-color: $color_white;
    border-radius: 100vh;
    border: max(.1rem, 1px) solid $color_theme;
    width: 35rem;
    height: 4.7rem;
    line-height: 4.7rem;
    box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
    margin-top: 2.2rem;
    margin-inline: auto;
    @include pc {
      font-size: 2rem;
      height: 5.7rem;
      line-height: 5.7rem;
    }
  }
  &_explain {
    @include font(13, 20, 25);
    margin-top: 3rem;
    @include pc {
      @include font(14, 25, 50);
      text-align: center;
    }
  }
}

.bl_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100dvh;
  width: 100%;
  &_contents {
    @include container;
    background-color: rgba($color_dark_bg, 9);
    height: calc(100dvh - 6rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 8rem 4rem;
    padding-inline: 1rem;
    color: $color_white;
    @include pc {
      padding-block: 7rem 5rem;
      padding-inline: 6.5rem;
      max-width: 83.6rem;
    }
  }
  &_close {
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 2.7rem;
    right: 2rem;
    @include pc {
      width: 3rem;
      height: 3rem;
    }
    &::before,
    &::after {
      content: "";
      border-radius: 100vh;
      display: block;
      width: 2rem;
      height: .15rem;
      background-color: $color_white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      @include pc {
        height: .3rem;
        width: 3rem;
      }
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &_inner {
    padding-inline: 1rem;
    height: 100%;
    overflow: auto;
    @include pc {
      padding-inline: 6.5rem;
    }
  }
  &_img {
    aspect-ratio: 310 / 226;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include pc {
      aspect-ratio: 569 / 341;
    }
  }
  &_head {
    @include font(24, 29, 50, 700);
    margin-top: 3rem;
    @include pc {
      font-size: 2.7rem;
      margin-top: 2.45rem;
    }
  }
  &_subject {
    @include font(18, 25, 25, 700);
    margin-top: 3rem;
    @include pc {
      margin-top: 3.95rem;
    }
  }
  &_text {
    @include font(13, 20, 0);
    margin-top: 1.3rem;
    @include pc {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}


.bl_cardList {
  $_bk: &;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  @include pc {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8rem 5.4rem;
  }
  &.__col4 {
    @include pc {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
    }
    #{$_bk}_head {
      @include pc {
        font-size: 2.3rem;
      }
    }
    #{$_bk}_item {
      @include pc {
        padding-inline: 2rem;
      }
    }
  }
  &_item {
    border-radius: 1rem;
    border: max(.1rem, 1px) solid $color_gray3;
    padding: 3rem 2rem;
    @include pc {
      padding-block: 2.4rem 2rem;
      padding-inline: 2.3rem;
      min-height: 16.6rem;
    }
  }
  &_head {
    @include font(22, 28, 50, 700);
    @include pc {
      font-size: 2.5rem;
    }
  }
  &_subHead {
    @include font(11, 11, 0, 700);
    color: $color_theme;
    margin-top: .8rem;
    @include pc {
      font-size: 1rem;
    }
    &.__top {
      margin-top: 0;
      margin-bottom: 1rem;
      @include pc {
        margin-bottom: 1.4rem;
      }
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 1.5rem;
    @include pc {
      margin-top: 1.3rem;
      letter-spacing: .05em;
    }
  }
}

.bl_qa {
  $_bk: &;
  &_item {
    &:nth-of-type(n + 2) {
      margin-top: 1.5rem;
      @include pc {
        margin-top: 2.2rem;
      }
    }
  }
  &_qWrap {
    @include hoverColor;
    border-radius: 1rem;
    background-color: $color_white;
    box-shadow: 0 0 .6rem rgba($color_dark, .16);
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-block: 2rem;
    padding-left: 1rem;
    position: relative;
    @include pc {
      padding-block: 2rem;
      padding-left: 3rem;
      gap: 3.3rem;
    }
    #{$_bk}_label {
      color: $color_theme;
    }
    &::before,
    &::after {
      content: "";
      border-radius: 100vh;
      display: block;
      width: 1.7rem;
      height: .15rem;
      background-color: $color_theme;
      position: absolute;
      top: 50%;
      right: 1.4rem;
      transition: transform .3s;
      @include pc {
        right: 3rem;
        height: .3rem;
        width: 2rem;
      }
    }
    &::before {
      transform: translateY(-50%);
    }
    &::after {
      transform: translateY(-50%) rotate(-90deg);
    }
    &.is_active {
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
  &_label {
    @include font(22, 22, 0, 700);
    min-width: 2.2rem;
    @include pc {
      font-size: 2.5rem;
    }
  }
  &_question {
    @include font(15, 20, 50, 700);
    margin-right: 5rem;
    flex-basis: 0;
    flex-grow: 1;
    @include pc {
      @include font(20, 34, 50, 700);
      margin-right: 7rem;
    }
  }
  &_aParent {
    display: none;
    padding-bottom: 2.5rem;
    @include pc {
      padding-bottom: .5rem;
    }
  }
  &_aWrap {
    margin-top: 1.5rem;
    padding-inline: 1rem 1.8rem;
    display: flex;
    gap: 2rem;
    @include pc {
      padding-inline: 3rem 5rem;
      gap: 3rem
    }
  }
  &_answer {
    @include font(12, 18, 50);
    flex-basis: 0;
    flex-grow: 1;
    @include pc {
      @include font(14, 25, 100);
    }
  }
}

.bl_selectWrap {
  margin-bottom: 4.3rem;
  position: relative;
  width: 18.5rem;
  br {
    display: none !important;
  }
  &_head {
    @include font(12, 12, 0, 700);
    color: $color_theme;
  }
  &_btn {
    @include font(14, 18, 0);
    @include omission(1, 1.4rem, calc(18 / 14));
    max-height: none;
    border: max(.1rem, 1px) solid $color_gray6;
    padding-block: .8rem;
    padding-inline: 1rem 2rem;
    position: relative;
    width: 100%;
    margin-top: .9rem;
    &::before {
      content: "";
      display: block;
      width: 1.9rem;
      height: 1.6rem;
      background-color: $color_gray6;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}

.bl_select {
  display: none;
  background-color: $color_white;
  border: max(.1rem, 1px) solid $color_gray6;
  border-top: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%);
  padding-block: .6rem;
  width: 100%;
  &_link {
    @include font(14, 14, 0);
    padding-left: 2rem;
    padding-block: .8rem;
    width: 100%;
  }
}

.bl_bred {
  @include container;
  margin-top: 1.1rem;
  display: flex;
  gap: 1.6rem;
  overflow: hidden;
  @include pc {
    max-width: unset;
    width: 100%;
    padding-inline: 4.5rem;
    margin-top: 2rem;
    gap: 2.3rem;
  }
  &_list {
    line-height: 1;
    &:not(:last-of-type) {
      @include hoverOpacity;
      position: relative;
      &::before {
        content: "";
        display: block;
        background-image: url(#{$image_path}icon_angle_right_black.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: .3rem;
        height: .55rem;
        position: absolute;
        top: 50%;
        right: -.7rem;
        transform: translate(100%, calc(-50% - .1rem));
        @include pc {
          transform: translate(100%, -50%);
          right: -1rem;
          width: .5rem;
          height: .7rem;
        }
      }
    }
  }
  &_item {
    @include font(8, 8, 50);
    vertical-align: middle;
    @include pc {
      @include font(12, 12, 100);
    }
    span {
      white-space: nowrap;
    }
    span, a {
      vertical-align: middle;
    }
  }
}

.bl_anchorLink {
  position: sticky;
  margin-top: 13rem;
  top: calc($height_header_pc + 2rem);
  left: 0;
  br {
    display: none !important;
  }
  &.__mtSmall {
    @include pc {
      margin-top: 11.4rem;
    }
  }
  &_item {
    &.is_active {
      pointer-events: none;
      display: flex;
      align-items: center;
      gap: .4rem;
      &::before {
        content: "";
        display: block;
        background-color: $color_theme;
        border-radius: 100vh;
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }
  &_link {
    @include hoverColor;
    @include font(15, 45, 0);
  }
}

.bl_pagination {
  margin-top: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  @include pc {
    margin-top: 5rem;
    gap: 4rem
  }
  &_button {
    width: 3.3rem;
    height: 3.3rem;
    background-image: url(#{$image_path}icon_circle_angle_right_color.svg);
    background-size: contain;
    background-repeat: no-repeat;
    &.__prev {
      transform: scale(-1 ,1);
    }
    &.is_disabled {
      pointer-events: none;
      background-image: url(#{$image_path}icon_circle_angle_right_gray.svg);
    }
  }
  .page-numbers {
    @include font(16, 16, 0, 700);
    display: flex;
    align-items: center;
    &.current {
      color: $color_gray;
      pointer-events: none;
    }
    .page-numbers {
      display: inline-block;
      padding-inline: .9rem;
      @include pc {
        padding-inline: 1.7rem;
      }
      &.dots {
        padding-inline: .4rem;
      }
    }
    li {
      &:first-of-type {
        .page-numbers {
          padding-left: 0;
        }
      }
      &:last-of-type {
        .page-numbers {
          padding-right: 0;
        }
      }
    }
  }
}

.bl_form {
  $_bk: &;
  background-color: $color_white;
  padding-inline: 2rem;
  padding-block: 6rem;
  @include pc {
    padding: 9rem 13rem;
  }
  &.__download {
    @include pc {
      padding-inline: 20rem;
    }
  }
  .wpcf7-list-item {
    margin: 0 !important;
  }
  .wpcf7-not-valid-tip {
    // jsで行うので非表示にする
    display: none !important;
    @include font(12, 12, 50, 700);
    color: $color_point;
    margin-top: 1rem;
  }
  .wpcf7-file {
    @include spLayoutOnly {
      margin-top: 1.5rem;
    }
  }
  &_inputInner {
    position: relative;
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 52rem;
    }
  }
  &_validate {
    @include font(12, 12, 50, 700);
    display: block;
    width: 100%;
    color: $color_point;
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform: translateY(100%);
  }
  &_inputWrap {
    display: flex;
    flex-direction: column;
    &:nth-of-type(n + 2) {
      margin-top: 4rem;
    }
    &.__start {
      @include pc {
        align-items: flex-start;
      }
    }
    @include pc {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 3.5rem;
    }
    #{$_bk}.__confirm & {
      @include pc {
        align-items: flex-start;
      }
    }
  }
  .wpcf7-form-control-wrap {
    color: $color_black;
    width: 100%;
  }
  &_data {
    @include font(14, 18, 100, 500);
    margin-top: 2rem;
    color: $color_black;
    @include pc {
      font-size: 1.2rem;
      margin-top: 0
    }
  }
  &_input {
    @include font(13, 26, 50);
    border-bottom: max(1px, .1rem) solid $color_gray;
    padding-inline: .5rem;
    height: auto;
    margin-top: 1.1rem;
    width: 100%;
    @include pc {
      margin-top: 0;
    }
    &__area {
      height: 7.5rem;
      @include pc {
        height: 9rem;
      }
    }
    &::placeholder {
      font-size: 1.2rem;
      color: $color_gray8;
      font-weight: 700;
    }
    &__box {
      border: max(1px, .1rem) solid $color_gray;
      height: 12rem;
    }
  }
  &_headWrap {
    @include pc {
      min-width: 13.2rem;
    }
  }
  &_head {
    @include font(14, 14, 50, 700);
    color: $color_black;
    width: fit-content;
    @include pc {
      font-size: 1.4rem;
    }
    &__req {
      position: relative;
      &::before {
        @include font(14, 14, 0, 700, $font-f_noto);
        content: "*";
        display: block;
        position: absolute;
        top: -.8rem;
        right: -1rem;
        color: $color_theme;
      }
    }
    #{$_bk}.__confirm & {
      line-height: 1.4 !important;
    }
  }
  &_selectWrap {
    width: 13.6rem;
    height: 2.4rem;
    border: max(.1rem, 1px) solid $color_black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .5rem;
    gap: .4rem;
    .wpcf7-form-control-wrap {
      width: fit-content;
      height: 100%;
    }
    &::after {
      content: "";
      display: inline-block;
      background-image: url(#{$image_path}icon_angle_right_black.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: .4rem;
      height: .8rem;
      transform: rotate(90deg);
    }
  }
  &_select {
    width: 100%;
    height: 100%;
  }
  &_radio {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    margin-top: 2rem;
    @include pc {
      margin-top: 0;
      flex-direction: row;
      gap: 2.7rem;
      flex-wrap: wrap;
    }
    &__pcFlex {
      @include pc {
        display: flex;
        flex-direction: row;
      }
    }
    input {
      display: none;
      &:checked + .wpcf7-list-item-label {
        font-weight: 700;
        &::after {
          content: "";
          display: block;
          background-color: $color_theme;
          border-radius: 100vh;
          width: .8rem;
          height: .8rem;
          position: absolute;
          top: 50%;
          left: .44rem;
          transform: translateY(-50%);
        }
      }
    }
    .wpcf7-list-item-label {
      color: $color_black;
      @include font(14, 14, 50);
      position: relative;
      padding-left: calc(.76rem + 1.6rem);
      cursor: pointer;
      @include pc {
        font-size: 1.2rem;
      }
      &::before {
        background-color: $color_gray5;
        content: "";
        display: block;
        border-radius: 100vh;
        width: 1.7rem;
        height: 1.7rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    // 電話番号非活性
    label:has(.is_reactive) {
      pointer-events: none;
      opacity: .5;
    }
  }
  &_policyWrap {
    margin-top: 4rem;
    height: 26.6rem;
    width: 100%;
    background-color: $color_gray9;
    border: max(.1rem, 1px) solid $color_gray10;
    box-shadow: inset 0 0 1rem rgba($color_dark, .16);
    @include pc {
      margin-top: 5.3rem;
      padding-right: .53rem;
    }
  }
  &_policy {
    @include scrollbar_area;
    @include font(12, 20, 0);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 2rem;
    @include pc {
      padding-block: 3.4rem;
      padding-inline: 5.4rem;
    }
    span {
      display: block;
      margin-bottom: 2.7rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &_check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    margin-top: 3.3rem;
    position: relative;
    text-align: center;
    @include pc {
      margin-top: 4.75rem;
    }
    .wpcf7-form-control-wrap {
      width: auto;
    }
    + .wpcf7-form-control-wrap {
      width: 100% !important;
    }
    &__checked {
      //pointer-events: none;
      position: relative;
      width: fit-content;
      margin-inline: auto;
      &::after {
        content: "";
        display: block;
        background-image: url(#{$image_path}icon_check.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 1.5%;
        transform: translateY(-50%);
      }
    }
    #{$_bk}_validate {
      position: absolute;
    }
  }
  &_checkLink {
    @include font(14, 14, 50);
    cursor: pointer;
    color: $color_black;
    @include pc {
      font-size: 1.2rem;
    }
  }
  &_checkLabel {
    position: relative;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    &::before {
      content: "";
      display: block;
      background-color: $color_white;
      border: .2rem solid $color_gray3;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &.is_active {
      &::after {
        content: "";
        display: block;
        background-image: url(#{$image_path}icon_check.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 18%;
        transform: translateY(-50%);
      }
    }
  }
  &_checkBox {
    & + .wpcf7-not-valid-tip {
      text-align: center;
      @include pc {
        position: relative;
      }
    }
    input {
      display: none;
    }
  }
  &_btn {
    margin-top: 5.6rem;
    width: fit-content;
    margin-inline: auto;
    .wpcf7-spinner {
      display: none !important;
    }
    &__submit {
      display: none !important;
    }
  }
  &_confirm {
    @include font(13, 13, 100);
    line-height: 1.4;
    color: $color_black;
    margin-top: 1.5rem;
    border-bottom: max(1px, .1rem) solid $color_gray;
    min-height: 1.85rem;
    @include pc {
      @include font(14, 14, 100, 700);
      line-height: 1.4;
      width: 49rem;
      margin-top: 0;
      min-height: 2rem;
    }
  }
  &_confirmBtn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
    @include pc {
      margin-top: 5rem;
    }
    .wpcf7-spinner {
      display: none !important;
    }
    .bl_form_btn {
      margin: 0;
    }
  }
  &_file {
    display: none;
  }
  &_fileWrap {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    @include pc {
      margin-top: 0;
    }
    + {
      .wpcf7-form-control-wrap {
        display: none
      }
    }
  }
  &_fileLabel {
    @include font(11, 11, 0);
    @include hoverOpacity;
    background-color: $color_gray13;
    padding: .64rem 2.3rem;
    border-radius: .5rem;
    border: max(.1rem, 1px) solid $color_dark;
    box-shadow: 0 .3rem .3rem rgba($color_dark, .16);
  }
  &_fileName {
    @include font(13, 13, 50);
    @include omission(1, 1.3rem, 1);
    margin-left: 1.3rem;
    max-width: 15rem;
    @include pc {
      margin-left: 1.75rem;
      max-width: 25rem;
    }
  }
  &_fileTrash {
    cursor: pointer;
    display: none;
    margin-left: .8rem;
    width: 1.5rem;
    height: auto;
  }
  &_fileExplain {
    font-size: 1.2rem;
    color: $color_black;
    margin-top: 1rem;
  }
  &_sendValidateError {
    @include font(20, 30, 50, 700);
    display: none;
    color: $color_point;
    text-align: center;
    margin-bottom: 6rem;
  }
}
.wpcf7-response-output {
  display: none !important;
}
.bl_formConfirm {
  display: none;
}
.bl_contact_annotation {
  @include font(15, 15, 50, 700);
  margin-top: 4rem;
  text-align: right;
  @include pc {
    margin-top: 7rem;
  }
  &__point {
    color: $color_point;
  }
}
.bl_contact_formWrap {
  background-color: $color_white;
  margin-top: 1rem;
  @include pc {
    margin-top: 2rem;
  }
}

.bl_searchForm {
  $_bk: &;
  background-color: $color_gray2;
  border-radius: .8rem;
  padding: 5rem 2rem;
  @include pc {
    padding: 5rem 6.5rem;
  }
  &.__pdLarge {
    @include pc {
      padding: 8rem 13rem;
    }
  }
  .bl_head3 {
    @include pc {
      margin-bottom: 6.3rem;
    }
  }
  &_headWrap {
    @include pc {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &_head {
    @include font(19, 19, 50, 700);
    margin-bottom: 2.5rem;
    @include pc {
      @include font(25, 25, 100, 700);
    }
    @include pc {
      margin-bottom: 0;
    }
    &.__pcSmall {
      @include pc {
        font-size: 1.8rem;
      }
    }
  }
  &_categoryList {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.1rem;
    @include pc {
      margin-top: 2.4rem;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.2rem 2.4rem;
    }
  }
  &_category {
    @include font(11, 11, 50, 700);
    cursor: pointer;
    background-color: $color_white;
    text-align: center;
    box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
    padding-block: 1.2rem;
    @include pc {
      @include font(25, 25, 100, 700);
      padding-block: 2.5rem;
    }
    &:has(#{$_bk}_cb:checked) {
      background-color: $color_theme;
      color: $color_white;
    }
  }
  &_tagList {
    margin-top: 3rem;
    @include pc {
      display: flex;
      margin-top: 3.6rem;
      gap: 3.5rem;
    }
  }
  &_tagSubject {
    @include font(19, 19, 50, 700);
    @include pc {
      font-size: 1.8rem;
      min-width: 9.2rem;
    }
  }
  &_tagInner {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem .5rem;
    @include pc {
      margin-top: 0;
      gap: 1rem 1.3rem;
    }
  }
  &_cb {
    display: none;
    &:checked {
      + .el_label {
        background-color: $color_theme;
        color: $color_white;
      }
    }
  }
  &_button {
    margin-top: 5rem;
    margin-inline: auto;
    width: 100%;
    max-width: 51.4rem;
    @include pc {
      margin-top: 4.1rem;
    }
    .el_btn {
      width: 100% !important;
    }
  }
  &_reset {
    @include font(14, 14, 50, 700);
    @include hoverOpacity;
    display: block;
    color: $color_theme;
    text-align: center;
    margin-top: 3.2rem;
    width: fit-content;
    margin-inline: auto;
    text-decoration: underline;
    @include pc {
      @include font(16, 16, 100, 700);
      margin-top: 2.2rem;
    }
  }
}

.bl_searchKeyword {
  position: relative;
  @include pc {
    display: flex;
    align-items: center;
    gap: .6rem;
  }
  &_input {
    @include font(13, 13, 50);
    border: max(.1rem, 1px) solid $color_gray3;
    border-radius: 100vh;
    background-color: $color_white;
    padding-block: 1.75rem;
    padding-inline: 2rem 1.5rem;
    width: 100%;
    @include pc {
      @include font(16, 16, 100);
      width: 34.3rem;
      padding-block: 1.5rem;
    }
    &.__pcWide {
      @include pc {
        width: 57.7rem;
      }
    }
    &::placeholder {
      @include font(12, 12, 50);
      color: $color_gray;
      @include pc {
        @include font(16, 16, 100);
      }
    }
  }
  &_button {
    @include font(14, 14, 50, 700);
    border-radius: 100vh;
    line-height: 3.1rem;
    height: 3.1rem;
    width: 8.3rem;
    text-align: center;
    background-color: $color_theme;
    color: $color_white;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    transition: background-color .2s, color .2s;
    @include pc {
      @include font(16, 16, 100, 700);
      line-height: 4.7rem;
      width: 15.5rem;
      height: 4.7rem;
      position: static;
      transform: translate(0);
    }
    @include hover {
      background-color: $color_theme_hv !important;
      color:  $color_white !important;
    }
  }
}

.bl_err {
  padding-top: 15rem;
  padding-bottom: 5rem;
  .el_buttonWrap {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  &_num {
    @include font(100, 100, -30, 600);
    margin-top: $height_header_sp;
    text-align: center;
    color: $color_theme;
  }

  &_head {
    @include font(40, 40, 10, 600);
    margin-top: $height_header_sp;
    text-align: center;
    color: $color_theme;
  }

  &_text {
    @include font(16, 24, 10, 600);
    text-align: center;
    margin-top: .5rem;
  }

  &_ex {
    @include font(13, 20, 50, 500);
    margin-top: 5rem;
    text-align: center;
  }

  &_buttonWrap {
    width: fit-content;
    margin-inline: auto;
    margin-top: 4rem;
  }
}

.bl_production {
  &:nth-of-type(n + 3) {
    margin-top: 8rem;
    @include pc {
      margin-top: 11.6rem;
    }
  }
  &_headWrap{
    border-top: .3rem solid $color_theme;
    padding-top: 4rem;
    position: relative;
    margin-bottom: 3rem;
    @include pc {
      display: flex;
      align-items: center;
      gap: 10.6rem;
      padding-left: 5rem;
      padding-top: 3rem;
    }
  }

  &_head {
    @include font(33, 38, 25, 700);
    @include pc {
      font-size: 4rem;
      white-space: nowrap;
      min-width: 28.4rem;
    }
  }

  &_number {
    @include font(12, 12, 0, 700);
    color: $color_theme;
    position: absolute;
    top: 1rem;
    left: 0;
    @include pc {
      font-size: 1.3rem;
    }
  }

  &_intro {
    @include font(13, 20, 50);
    margin-top: 3rem;
    @include pc {
      @include font(16, 30, 50);
      margin-top: 0;
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &_contentsWrap {
    margin-top: 5rem;
  }

  &_contentsHead {
    @include font(22, 22, 0, 700);
    background-color: $color_gray;
    padding-left: 1.9rem;
    padding-block: 1rem;
    color: $color_white;
    margin-bottom: 3rem;
    @include pc {
      font-size: 2.5rem;
      margin-bottom: 4.8rem;
    }
  }
}