@use '../../utils' as *;

.hp_tac {
  text-align: center !important;
}

.hp_noneSp {
  display: none !important;
  @include pc {
    display: block !important;
  }
}

.hp_noneSpFlex {
  display: none !important;
  @include pc {
    display: flex !important;
  }
}

.hp_noneSpInline {
  display: none !important;
  @include pc {
    display: inline !important;
  }
}

.hp_nonePc {
  @include pc {
    display: none !important;
  }
}

.hp_block {
  display: block !important;
}

.hp_hidden {
  display: none;
}
