@use './initpage' as *;
/******************************************************************
* page - top
*******************************************************************/
/* use component
----------------------------------------------------------------- */
/* blocks */
// @use '../modules/blocks/access' as *;

/* elements */
// @use '../modules/elements/btn' as *;

/* style
----------------------------------------------------------------- */
body {
  border: 10px solid $color_base_black;
  background-color: lightgray;
  @include media($bp_pcL) {
    border-color: yellow;
  }
}

.test {
  font-size: s(20);
}
