@use '../foundation/' as *;

/******************************************************************
* scroll-in
* スクロール表示アニメーション
*******************************************************************/
/* Base（初期状態） */
.has-scroll-in {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 600ms ease, transform 600ms ease;
}

/* State */
.has-scroll-in.is_active {
  opacity: 1;
  transform: translateY(0);
}
