@use '../foundation/' as *;

/******************************************************************
* scroll-hint
* スクロールヒント関連
*******************************************************************/
/* Base（ScrollHint ライブラリで使用する要素の契約） */
.has-scroll-hint {
  /* ScrollHint が対象要素にスクロールヒントUIを付与する */
  /* 必要に応じて max-height 等を指定 */
}
