@use '../../utils/' as *;

/******************************************************************
* footer
* フッターコンポーネントのスタイル
*******************************************************************/
.ly_footer {
  background-color: $color_bg_base;
  border-top: 1px solid $color_tag_border;
  padding: s(40) 0;
  margin-top: s(60);

  &_inner {
    text-align: center;
  }

  &_info {
    // フッター情報エリア
  }

  &_copyright {
    font-size: s(14);
    color: $color_text_secondary;
    margin-bottom: s(20);
  }

  &_address {
    font-size: s(14);
    color: $color_text_secondary;
    font-style: normal;
  }

  &_addressText {
    margin-bottom: s(10);
  }

  &_addressLink {
    color: $color_text_link;
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }
}
