@use '../../utils/' as *;

/******************************************************************
* layout - container
* $container-sizesで定義されたサイズごとにモディファイアクラスを生成
* 例）ly_container __normal, __large,  __small, ・・・
*******************************************************************/
.ly_container {
  // サイズモディファイア
  @each $type, $sizes in $container-sizes {
    &.__#{$type} {
      @include container($type);
    }
  }
}
