/******************************************************************
* jsプラグインの打ち消し処理等
*******************************************************************/
.scroll-hint-shadow-wrap {
  &::before,
  &::after {
    display: none;
  }
}
