@use '../variables/variables' as *;

// コメントテンプレート ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼

/******************************************************************
* 大 XXXX
* XXXXXXX
*******************************************************************/

/* 中 XXXX
/* XXXXXXX
----------------------------------------------------------------- */

// 小 XXXX
// XXXXXXX
//////////////////////////////////////////////

// 最小

// ページテンプレート ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
@use './initpage' as *;
/******************************************************************
* page - sample-about
* Aboutページ用のスタイル
*******************************************************************/
/* use blocks
----------------------------------------------------------------- */
@use '../modules/blocks/breadcrumbs' as *;
@use '../modules/blocks/card' as *;

/* page-header
----------------------------------------------------------------- */
