@use '../variables/variables' as *;
/******************************************************************
* 大 XXXX
* XXXXXXX
*******************************************************************/

/* 中 XXXX
/* XXXXXXX
----------------------------------------------------------------- */

// 小 XXXX
// XXXXXXX
//////////////////////////////////////////////

// 最小
