@use '../variables/variables' as *;

// コメントテンプレート ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼

/******************************************************************
* 大 XXXX
* XXXXXXX
*******************************************************************/

/* 中 XXXX
/* XXXXXXX
----------------------------------------------------------------- */

// 小 XXXX
// XXXXXXX
//////////////////////////////////////////////

// 最小




// ページテンプレート ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
@use './initpage' as *;
/******************************************************************
* page - sample-about
*******************************************************************/
/* use blocks
----------------------------------------------------------------- */
@use '../modules/blocks/breadcrumbs' as *;
@use '../modules/blocks/card' as *;

/* mv
----------------------------------------------------------------- */
.un-mv {

}

// State
//////////////////////////////////////////////
.has-xxx {

}




// モジュールテンプレート ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
@use '../../foundation/' as *;
/******************************************************************
* block - card
*******************************************************************/
.card {

}

// State
//////////////////////////////////////////////
.has-xxx {

}
