@charset "UTF-8";
@use '../utils' as *;

.development_works {
  @include pc {
    display: flex;
    gap: 9.5rem;
  }
  &_item {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
    &:nth-of-type(n + 2) {
      margin-top: 5rem;
      @include pc {
        margin-top: 0;
      }
    }
  }
  &_img {
    aspect-ratio: 350 / 229;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &_head {
    @include font(22, 32, 0, 700);
    margin-top: 3rem;
    text-align: center;
    @include pc {
      margin-top: 1.1rem;
      font-size: 1.5rem;
      text-align: left;
    }
  }
  &_text {
    @include font(12, 18, 25);
    margin-top: 2rem;
    @include pc {
      @include font(14, 20, 50);
    }
  }
}

.development_products {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  @include pc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7.8rem 6rem;
    margin-top: 7rem;
  }
  &_btn {
    margin-top: 8rem;
    @include pc {
      margin-top: 9rem;
    }
  }
}

.development_featureText {
  @include font(13, 20, 50);
  @include pc {
    @include font(16, 30, 100);
  }
}

.development_featureImg {
  aspect-ratio: 350 / 238;
  margin-top: 3rem;
  height: auto;
  width: 100%;
  object-fit: cover;
  @include pc {
    aspect-ratio: 962 / 399;
    margin-top: 5.6rem;
  }
}

.development_featureWrap {
  margin-top: 5rem;
  @include pc {
    margin-top: 10.7rem;
    display: flex;
    gap: 3rem;
  }
  &_headWrap {
    background-color: $color_theme;
    padding: 5rem 2rem;
    color: $color_white;
    @include pc {
      min-width: 29.1rem;
      padding: 4rem 3rem;
    }
  }
  &_subHead {
    @include font(12, 12, 0, 700);
    @include pc {
      font-size: 1rem;
    }
  }
  &_head {
    @include font(26, 35, 10, 700);
    margin-top: 1.2rem;
    @include pc {
      font-size: 3rem;
      margin-top: 2.5rem;
    }
  }
  &_list {
    margin-top: 3rem;
    @include pc {
      margin-top: 0;
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_item {
    padding-bottom: 3rem;
    border-bottom: .3rem solid $color_gray5;
    &:nth-of-type(n + 2) {
      margin-top: 3rem;
    }
  }
  &_subjectWrap {
    display: flex;
    gap: 1.5rem;
  }
  &_number {
    @include font(12, 12, 0, 700);
    min-width: 4rem;
    color: $color_theme;
    position: relative;
    top: .6rem;
    @include pc {
      font-size: 1.3rem;
      top: 1.2rem;
    }
  }
  &_subject {
    @include font(22, 32, 50, 700);
    @include pc {
      font-size: 2.5rem;
    }
    span {
      color: $color_theme;
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 2rem;
    @include pc {
      font-size: 1.6rem;
      letter-spacing: .05em;
      margin-top: 2.5rem;
    }
  }
}

.development_group {
  margin-top: 8rem;
  @include pc {
    margin-top: 7rem;
  }
  &_inner {
    @include pc {
      display: flex;
      align-items: center;
      gap: 4.9rem;
    }
  }
  &_imgWrap {
    margin-top: 4rem;
    @include pc {
      width: 47.1rem;
      min-width: 47.1rem;
      margin-top: 0;
    }
    img {
      width: 100%;
    }
  }
  &_text {
    @include font(13, 20, 50);
    margin-top: 4rem;
    @include pc {
      @include font(16, 30, 100);
      flex-basis: 0;
      flex-grow: 1;
      margin-top: 0;
    }
  }
}

.development_policyText {
  @include font(13, 20, 50);
  @include pc {
    font-size: 1.6rem;
  }
}

.development_policy {
  margin-top: 3rem;
  &_row {
    position: relative;
    padding-block: 4.2rem 3rem;
    border-bottom: .3rem solid $color_theme;
    @include pc {
      display: flex;
      gap: 11.4rem;
      padding-left: 8rem;
      padding-block: 3.9rem;
    }
    &:first-of-type {
      border-top: .3rem solid $color_theme;
    }
  }
  &_number {
    @include font(12, 12, 0, 700);
    position: absolute;
    top: 1rem;
    left: 0;
    color: $color_theme;
    @include pc {
      font-size: 1.3rem;
    }
  }
  &_head {
    @include font(22, 32, 50, 700);
    @include pc {
      min-width: 16.5rem;
    }
  }
  &_content {
    @include font(12, 18, 0);
    margin-top: 1.5rem;
    @include pc {
      @include font(16, 30, 50);
      flex-basis: 0;
      flex-grow: 1;
      margin-top: 0;
    }
    &:has(img) {
      width: 25.7rem;
      @include pc {
        max-width: 46.4rem;
      }
    }
    img {
      position: absolute;
      top: 3.6rem;
      right: 0;
      width: 6.5rem;
      height: auto;
      @include pc {
        width: 5.5rem;
      }
    }
  }
}