@charset "UTF-8";
@use '../utils' as *;

.production_intro {
  @include font(24, 34, 25, 700);
  @include pc {
    @include font(40, 48, 100, 700);
    margin-left: 2rem;
  }
}

.production_map {
  margin-top: 3rem;
  margin-bottom: 14.4rem;
  position: relative;
  width: 27.9rem;
  margin-inline: auto;
  left: -1.5rem;
  @include pc {
    width: 66.9rem;
    margin-inline: auto;
    margin-top: 0;
    margin-bottom: 18.9rem;
  }
  &_img {
    width: 100%;
    height: auto;
  }
  &_item {
    @include hoverOpacity;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    img {
      aspect-ratio: 106 / 64;
      width: 10.6rem;
      height: auto;
      object-fit: cover;
      @include pc {
        width: 25.5rem;
      }
    }
    &::before {
      content: "";
      display: block;
      height: .2rem;
      background-color: $color_theme;
      position: absolute;
      @include pc {
        height: .5rem;
      }
    }
    &:nth-of-type(1) {
      transform: translate(calc(-50% - 10.9rem), calc(-50% + .8rem));
      @include pc {
        transform: translate(calc(-50% - 39.9rem), calc(-50% + -9.2rem));
      }
      &::before {
        width: 4.8rem;
        bottom: 0;
        left: 50%;
        transform: translate(0, 0) rotate(52deg);
        transform-origin: left;
        @include pc {
          width: 23.8rem;
          bottom: 1rem;
          left: 89%;
          transform: translate(0, 0) rotate(62deg);
        }
      }
    }
    &:nth-of-type(2) {
      transform: translate(calc(-50% - 11.4rem), calc(-50% + 16.2rem));
      @include pc {
        transform: translate(calc(-50% - 42.4rem), calc(-50% + 13.2rem));
      }
      &::before {
        width: 6.8rem;
        top: 1rem;
        left: 50%;
        transform: translate(0, 0) rotate(-62deg);
        transform-origin: left;
        @include pc {
          width: 13.2rem;
          top: 50%;
          left: 91%;
          transform: translate(0, 0) rotate(23deg);
        }
      }
    }
    &:nth-of-type(3) {
      transform: translate(calc(-50% - 1.6rem), calc(-50% - 6.8rem));
      @include pc {
        transform: translate(calc(-50% - 9.6rem), calc(-50% - 12.8rem));
      }
      &::before {
        width: 11rem;
        bottom: 1rem;
        left: 50%;
        transform: translate(0, 0) rotate(85deg);
        transform-origin: left;
        @include pc {
          width: 23rem;
          bottom: 1rem;
          left: 57%;
          transform: translate(0, 0) rotate(75deg);
        }
      }
    }
    &:nth-of-type(4) {
      transform: translate(calc(-50% + 1.3rem), calc(-50% + 14.7rem));
      @include pc {
        transform: translate(calc(-50% + 8.3rem), calc(-50% + 31.7rem));
      }
      &::before {
        width: 8.9rem;
        top: 1rem;
        left: 50%;
        transform: translate(0, 0) rotate(-68deg);
        transform-origin: left;
        @include pc {
          width: 16.3rem;
          top: 1rem;
          left: 50%;
          transform: translate(0, 0) rotate(-76deg);
        }
      }
    }
    &:nth-of-type(5) {
      transform: translate(calc(-50% + 13.1rem), calc(-50% - .2rem));
      @include pc {
        transform: translate(calc(-50% + 45.1rem), calc(-50% - 6.2rem));
      }
      &::before {
        width: 3.7rem;
        left: 1rem;
        top: 50%;
        transform: translate(0, 0) rotate(136deg);
        transform-origin: left;
        @include pc {
          width: 22.3rem;
          left: 1rem;
          top: 50%;
          transform: translate(0, 0) rotate(148deg);
        }
      }
    }
    &:nth-of-type(6) {
      transform: translate(calc(-50% + 12.9rem), calc(-50% + 9.5rem));
      @include pc {
        transform: translate(calc(-50% + 39.9rem), calc(-50% + 13.5rem));
      }
      &::before {
        width: 4.5rem;
        top: .5rem;
        left: 1.5rem;
        transform: translate(0, 0) rotate(-138deg);
        transform-origin: left;
        @include pc {
          width: 15.5rem;
          top: 60%;
          left: 0.5rem;
          transform: translate(0, 0) rotate(-156deg);
        }
      }
    }
  }
}

.production_list {
  @include pc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem 5.2rem;
  }
  &_item {
    &:nth-of-type(n + 2) {
      margin-top: 8rem;
      @include pc {
        margin-top: 0;
      }
    }
  }
  &_imgWrap {
    min-width: 14.5rem;
    width: 14.5rem;
    @include pc {
      min-width: 23.8rem;
      width: 23.8rem;
    }
    img {
      border-radius: .5rem;
      width: 100%;
      height: auto;
      box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
    }
  }
  &_inner {
    display: flex;
    gap: 2.4rem;
    padding-bottom: 2.3rem;
    border-bottom: max(.1rem, 1px) solid $color_theme;
    @include pc {
      gap: 3.6rem;
      border: none;
      padding-bottom: 0;
    }
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_head {
    @include font(25, 25, 0, 700);
    @include pc {
      padding-bottom: 1.2rem;
      border-bottom: max(.1rem, 1px) solid $color_theme;
    }
  }
  &_intro {
    @include font(13, 20, 25, 700);
    margin-top: 1.3rem;
    @include pc {
      @include font(18, 25, 50, 700);
      margin-top: 1.2rem;
    }
    &.__spacing {
      @include pc {
        @include font(18, 25, 25, 700);
      }
    }
  }
  &_explain {
    @include font(12, 18, 0);
    margin-top: 2rem;
    @include pc {
      margin-top: 1.2rem;
    }
  }
  .el_btn {
    margin-top: 3rem;
    margin-inline: auto;
  }
}
