@charset "UTF-8";
@use '../utils' as *;

.recruit_img {
  img {
    aspect-ratio: 390 / 224;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include pc {
      aspect-ratio: 1440 / 448;
    }
  }
}

.recruit_messageWrap {
  @include pc {
    display: flex;
    justify-content: flex-end;
    gap: 5.7rem;
  }
  .bl_head3 {
    @include spLayoutOnly {
      @include container;
    }
  }
  &_imgWrap {
    margin-left: 2rem;
    @include pc {
      margin-left: 0;
      width: 50.3rem;
    }
    img {
      aspect-ratio: 370 / 201;
      width: 100%;
      height: auto;
      object-fit: cover;
      @include pc {
        aspect-ratio: 503 / 366;
      }
    }
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
      max-width: fit-content;
    }
  }
  &_message {
    @include font(14, 20, 50);
    margin-top: 2.5rem;
    @include spLayoutOnly {
      @include container;
    }
    @include pc {
      @include font(16, 30, 100);
      margin-top: 5.5rem;
    }
  }
}

.recruit_requestWrap {
  @include pc {
    display: flex;
    gap: 9.9rem;
  }
  &_imgWrap {
    position: relative;
    margin-bottom: 8.5rem;
    width: 35rem;
    margin-inline: auto;
    @include pc {
      margin: 0;
      width: 43.3rem;
      min-width: 43.3rem;
    }
    img {
      &:nth-of-type(1) {
        aspect-ratio: 219 / 202;
        width: 21.9rem;
        height: auto;
        object-fit: cover;
        position: relative;
        @include pc {
          width: 22.4rem;
          z-index: 1;
        }
      }
      &:nth-of-type(2) {
        aspect-ratio: 160 / 149;
        width: 16rem;
        height: auto;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 11.3rem;
        z-index: 1;
        @include pc {
          width: 35rem;
          top: 17.3rem;
          right: 0;
          z-index: 0;
        }
      }
    }
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_textItem {
    &:nth-of-type(n + 2) {
      margin-top: 3rem;
    }
  }
  &_textHead {
    @include font(20, 20, 25, 700);
    display: flex;
    align-items: center;
    gap: .7rem;
    &::before {
      content: "";
      display: block;
      height: .2rem;
      width: 2rem;
      background-color: $color_theme;
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 1.5rem;
    @include pc {
      @include font(16, 24, 50);
    }
  }
}

.recruit_trainingIntro {
  @include font(13, 20, 50);
  @include pc {
    @include font(16, 30, 100);
    margin-top: 2.8rem;
  }
}

.recruit_trainingList {
  margin-top: 5rem;
  @include pc {
    margin-top: 4.1rem;
  }
  &_item {
    position: relative;
    padding-block: 4rem 3rem;
    border-bottom: .3rem solid $color_theme;
    @include pc {
      padding-block: 5rem;
    }
    &:first-of-type {
      border-top: .3rem solid $color_theme;
    }
  }
  &_subject {
    @include font(12, 12, 0, 700);
    color: $color_theme;
    position: absolute;
    top: 1rem;
    left: 0;
    @include pc {
      font-size: 1.3rem;
    }
  }
  &_inner {
    @include pc {
      display: flex;
      justify-content: space-between;
      padding-left: 4.8rem;
    }
  }
  &_textWrap {
    @include pc {
      display: flex;
      gap: 14rem;
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_head {
    @include font(27, 27, 25, 700);
    @include pc {
      @include font(40, 40, 100, 700);
      min-width: 28.4rem;
    }
  }
  &_subHead {
    @include font(18, 18, 0, 700);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
    @include pc {
      font-size: 2rem;
      gap: 1.9rem;
      margin-top: 0;
    }
    &::before {
      content: "";
      display: block;
      background-color: $color_theme;
      width: .5rem;
      height: 2.7rem;
      @include pc {
        height: 3.8rem;
      }
    }
  }
  &_trainingList {
    margin-top: 1.4rem;
    @include pc {
      margin-top: 3.2rem;
    }
    &.__flex {
      display: flex;
      flex-wrap: wrap;
      gap: 0 4.3rem;
    }
  }
  &_training {
    @include font(12, 18, 0);
    min-width: 11.7rem;
    @include pc {
      @include font(16, 30, 50);
      min-width: 15rem;
    }
  }
  &_imgWrap {
    margin-top: 2rem;
    @include pc {
      margin-top: 0;
      width: 51.2rem;
      min-width: 51.2rem;
    }
    img {
      aspect-ratio: 350 / 150;
      width: 100%;
      height: auto;
      object-fit: cover;
      @include pc {
        aspect-ratio: 512 / 291;
      }
    }
  }
}

.recruit_interviewSliderParent {
  position: relative;
  @include pc {
    width: 100%;
    margin-bottom: 6rem;
  }
  .el_sliderBtn {
    position: absolute;
    top: 50%;
    &.__prev {
      left: 1rem;
      transform: translateY(-50%) scale(-1, 1);
      @include pc {
        top: 100%;
        left: 0;
        transform: translateY(50%) scale(-1, 1);
      }
    }
    &.__next {
      right: 1rem;
      transform: translateY(-50%);
      @include pc {
        top: 100%;
        right: auto;
        left: 1.6rem;
        transform: translate(100%, 50%);
      }
    }
  }
  &_pagination {
    pointer-events: none;
    bottom: -3.7rem !important;
    @include pc {
      bottom: -5.3rem !important;
    }
    .swiper-pagination-bullet {
      width: calc(310 / 6 * 1rem / 10) !important;
      height: .3rem;
      background-color: $color_gray5;
      border-radius: 0 !important;
      margin: 0 !important;
      opacity: 1 !important;
      @include pc {
        width: calc(818 / 6 * 1rem / 10) !important;
        max-width: calc((100% - 30rem) / 6);
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color_theme !important;
    }
  }
}

.recruit_interviewSlider {
  @include pc {
    width: 100%;
  }
  &_slide {
    border-radius: 1rem;
    border: max(.1rem, 1px) solid $color_gray3;
    padding-block: 3rem;
    padding-inline: 2rem;
    height: auto !important;
    @include pc {
      display: flex;
      gap: 2.9rem;
      padding-block: 2.8rem;
      padding-inline: 3rem 1.5rem;
    }
  }
  &_imgWrap {
    margin-top: 2.05rem;
    width: 100%;
    @include pc {
      width: 18.8rem;
      margin-top: 0;
    }
    img {
      aspect-ratio: 265 / 167;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 50% 35%;
      @include pc {
        aspect-ratio: 188 / 237
      }
    }
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_head {
    @include font(22, 28, 50, 700);
    padding-bottom: .75rem;
    border-bottom: max(.1rem, 1px) solid $color_gray;
    @include pc {
      font-size: 2rem !important;
    }
    &.__small {
      font-size: 2rem;
    }
    &.__smaller {
      font-size: 1.9rem;
    }
  }
  &_nameWrap {
    margin-top: 2.1rem;
    @include pc {
      margin-top: 1rem;
    }
  }
  &_name {
    @include font(13, 20, 0, 700);
    @include pc {
      font-size: 1.2rem;
    }
    &:nth-of-type(n + 2) {
      margin-top: .7rem;
      @include pc {
        margin-top: .5rem;
      }
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 2rem;
    padding-right: 1.4rem;
    @include pc {
      @include font(14, 20, 50);
      margin-top: 1.2rem;
      padding: 0;
    }
  }
}

.recruit_benefitIntro {
  @include font(13, 20, 50);
  margin-bottom: 2.5rem;
  @include pc {
    @include font(16, 30, 100);
    margin-top: 2.8rem;
    margin-bottom: 2.9rem;
  }
}

.rectuir_mynavi {
  @include font(24, 34, 25, 700);
  text-align: center;
  @include pc {
    @include font(30, 30, 100, 700);
  }
}

.rectuir_mynaviImg {
  margin-top: 3rem;
  box-shadow: 0 .3rem .6rem rgba($color_dark, .16);
  @include pc {
    display: block;
    width: 47.4rem;
    margin-inline: auto;
  }
  img {
    width: 100%;
  }
}