@charset "UTF-8";
@use '../utils' as *;

.top_first {
  $bk: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  &_bg {
    background: $color_white;
    width: 100%;
    height: 100%;
    transition: transform 2.2s;
    &::before,
    &::after {
      background-color: $color_white;
      content: "";
      display: block;
      width: 100%;
      height: calc((100% - 3rem) / 2);
      position: absolute;
      left: 0;
      z-index: 1;
      @include pc {
        height: calc((100% - 5rem) / 2);
      }
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3rem));
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: transform .8s ease-in-out;
    @include pc {
      transform: translate(-50%, calc(-50% + 5rem));
    }
    &.is_show {
      transform: translate(-50%, -50%);
    }
    &.is_remove {
      transform: translate(-50%, calc(-50% - 3rem)) !important;
      @include pc {
        transform: translate(-50%, calc(-50% - 5rem)) !important;
      }
    }
    img {
      display: block;
      height: 3rem;
      width: auto;
      transition: transform 1s .3s;
      @include pc {
        height: 5rem;
      }
    }
  }
}

.top_mv {
  width: 100%;
  height: 100svh;
  min-height: 55rem;
  position: relative;
  overflow: hidden;
  &_inner {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 2rem));
    z-index: 10;
    text-align: center;
    width: 100%;
    transition: opacity 1.3s;
    @include pc {
      transform: translateY(calc(-50% + 2rem));
    }
    &.is_first {
      opacity: 0;
    }
  }
  &_text {
    @include font(15, 15, 0, 700);
    color: $color_white;
    @include pc {
      font-size: 2.4rem;
    }
  }
  &_head {
    @include font(35, 46, 100, 700);
    color: $color_white;
    margin-top: 1.4rem;
    @include pc {
      font-size: 5.2rem;
      margin-top: 2.4rem;
    }
    span {
      color: $color_theme;
    }
  }
  &_list {
    margin-top: 5.2rem;
    @include pc {
      margin-top: 6.2rem;
    }
  }
  &_item {
    @include font(16, 16, 50, 700);
    color: $color_theme;
    padding: .8rem;
    background-color: rgba($color_white, .72);
    width: fit-content;
    margin-inline: auto;
    @include pc {
      font-size: 2.7rem;
    }
    &:nth-of-type(n + 2) {
      margin-top: .9rem;
    }
  }
  &_news {
    @include container;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7rem;
    z-index: 10;
    background: rgba($color_white, .1);
    backdrop-filter: brightness(1.4) blur(80px);
    width: 100%;
    transition: transform 1.3s;
    &.is_first {
      transform: translateY(100%);
    }
    @include hover {
      .top_mv_news_text {
        color: $color_theme;
      }
    }
    @include pc {
      height: 5.8rem;
      width: 80.5rem;
      left: auto;
      right: 0;
    }
    &_inner {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      height: 100%;
      width: 100%;
      padding-left: 2rem;
    }
    &_head {
      @include font(13, 13, 30, 700);
      padding-bottom: .8rem;
      position: relative;
      @include pc {
        font-size: 1.5rem;
        padding-bottom: 0;
      }
      &::before {
        content: "";
        display: block;
        width: 2rem;
        height: max(.1rem, 1px);
        background-color: $color_theme;
        position: absolute;
        left: 0;
        bottom: 0;
        @include pc {
          width: 1.6rem;
          transform: translate(3.2rem, -50%) rotate(90deg);
          bottom: auto;
          left: auto;
          right: 0;
          top: 50%;
        }
      }
    }
    &_textWrap {
      padding-top: 1.4rem;
      @include pc {
        display: flex;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
        gap: 5.6rem;
        padding-top: 0;
        padding-left: 5.2rem;
      }
    }
    &_text {
      @include font(13, 13, 30, 700);
      @include omission(1, 1.3rem, 1);
      margin-top: .8rem;
      width: 28.7rem;
      transition: color .2s;
      @include pc {
        font-size: 1.5rem;
        @include omission(1, 1.5rem, 1);
        margin-top: 0;
        width: 52rem;
      }
    }
    &_icon {
      background: $color_gray;
      height: 100%;
      min-width: 6.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 2.5rem;
      }
    }
  }
  &_sliderParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &_slider {
    height: 100%;
  }
  &_slide {
    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &_sliderPagination {
    bottom: 7.7rem !important;
    @include pc {
      bottom: auto !important;
      top: 50%;
      right: -4rem;
      left: auto !important;
      width: fit-content !important;
      transform: rotate(90deg) !important;
    }
    .swiper-pagination-bullet {
      background-color: $color_white !important;
      height: .6rem !important;
      width: .6rem !important;
      margin-inline: 1.2rem !important;
      opacity: 1 !important;
      @include pc {
        height: .9rem !important;
        width: .9rem !important;
        margin-inline: 2rem !important;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color_theme !important;
    }
  }
}

.top_service {
  @include pc {
    margin-top: 6.3rem;
  }
}

.top_aboutParent {
  position: relative;
  z-index: 2;
}

.top_about {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  @include pc {
    flex-direction: row;
    gap: 10.5rem;
    margin-top: 6.3rem;
  }
  &_imgWrap {
    position: relative;
    width: 35rem;
    margin-inline: auto;
    @include pc {
      width: 46.1rem;
      min-width: 46.1rem;
      max-width: unset;
      margin-inline: 0;
    }
    img {
      height: auto;
      &:nth-of-type(1) {
        aspect-ratio: 184 / 127;
        width: 18.4rem;
        position: absolute;
        top: 0;
        left: 0;
        @include pc {
          width: 24.3rem;
        }
      }
      &:nth-of-type(2) {
        aspect-ratio: 187 / 186;
        width: 18.7rem;
        position: absolute;
        top: 4.3rem;
        right: 0;
        @include pc {
          width: 24.6rem;
          top: 5.6rem;
        }
      }
      &:nth-of-type(3) {
        aspect-ratio: 125 / 154;
        width: 12.5rem;
        margin-top: 17.2rem;
        margin-left: 8.7rem;
        position: relative;
        z-index: 3;
        @include pc {
          width: 16.5rem;
          margin-top: 22.2rem;
        }
      }
    }
  }
  &_text {
    @include font(13, 20, 50);
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
      @include font(20, 40, 100);
    }
  }
}

.top_gragient {
  background-color: rgba($color_theme_bg2, .4);
  position: relative;
  z-index: 0;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }
  &::before {
    background-image: linear-gradient(transparent 10%, #b8cfbf66);
    height: 80rem;
    top: 0;
    transform: translateY(-100%);
    @include pc {
      height: 50rem;
    }
  }
  &::after {
    background-color: rgba($color_theme_bg2, .4);
    height: 30rem;
    bottom: 0;
    transform: translateY(100%);
    @include pc {
      height: 60rem;
    }
  }
}

.top_headWrap {
  @include spLayoutOnly {
    @include container;
  }
  @include pc {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 118rem;
  }
  .bl_head {
    @include pc {
      white-space: nowrap;
    }
  }
}

.top_productIntro {
  @include font(13, 20, 50);
  @include pc {
    @include font(17, 35, 100);
    width: 48rem;
  }
}

.top_productSliderParent {
  margin-top: 3rem;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-color: $color_white;
    position: absolute;
    bottom: -14rem;
    right: 0;
    width: 100%;
    height: 46.8rem;
    @include pc {
      width: 97.5vw;
      max-width: 136.9rem;
      height: 54.2rem;
    }
  }
  @include pc {
    margin-left: auto;
  }
  .el_sliderBtn {
    position: absolute;
    top: 10.1rem;
    @include pc {
      top: auto;
      bottom: -5rem;
      transform: translateY(100%);
    }
    &.__prev {
      left: 1rem;
      @include pc {
        left: auto;
        right: 16.6rem;
        transform: translate(-100%, 100%) scale(-1, 1);
      }
    }
    &.__next {
      right: 1rem;
      @include pc {
        right: 15rem;
      }
    }
  }
}

.top_productSlider {
  $_bk: &;
  &_wrapper {

  }
  &_slide {

  }
  &_link {
    width: 100%;
    @include hover {
      #{$_bk}_img {
        opacity: .7;
      }
      #{$_bk}_head {
        color: $color_theme;
      }
      #{$_bk}_text {
        color: $color_theme;
      }
    }
  }
  &_img {
    aspect-ratio: 310 / 244;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity .2s;
    @include pc {
      aspect-ratio: 436 / 348;
    }
  }
  &_head {
    @include font(22, 26, 50, 700);
    margin-top: 2rem;
    transition: color .2s;
    @include pc {
      font-size: 3.3rem;
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: color .2s;
    @include pc {
      font-size: 1.4rem;
    }
  }
}

.top_productBtn {
  width: fit-content;
  margin-inline: auto;
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}

.top_skill {
  &_intro {
    @include font(22, 32, 50, 700);
    text-align: center;
  }
  &_text {
    @include font(13, 20, 50);
    margin-top: 2rem;
  }
  &_imgWrap {
    margin-top: 3rem;
    position: relative;
    img {
      aspect-ratio: 189 / 132;
      width: 18.9rem;
      height: auto;
      &:nth-of-type(1) {
        position: absolute;
        top: -3rem;
        right: 0;
      }
      &:nth-of-type(2) {
        margin-top: 6.4rem;
      }
    }
  }
  .el_btn {
    margin-top: 3rem;
    margin-inline: auto;
  }
}

.top_company {
  mask: url(#{$image_path}top_img_company_mask_sp.svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  margin-top: 4rem;
  @include pc {
    mask: url(#{$image_path}top_img_company_mask.svg);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    margin-top: 18rem;
  }
  &_inner {
    aspect-ratio: 390 / 436;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 1;
    @include pc {
      aspect-ratio: 1440 / 732;
      flex-direction: row;
      align-items: center;
      gap: 18rem;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color_theme_dark, .74);
      z-index: -1;
    }
  }
  &_contents {
    @include pc {
      display: flex;
      gap: 18rem;
      align-items: flex-end;
    }
  }
  &_text {
    @include font(13, 20, 50);
    text-align: center;
    color: $color_white;
    @include pc {
      @include font(17, 35, 100);
      text-align: left;
    }
  }
  &_btnWrap {
    margin-top: 3rem;
  }
  &_sliderParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &_slider {
    height: 50%;
  }
  &_sliderWrap {
    transition-timing-function: linear;
    height: 100%;
  }
  &_slide {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.top_newsWrap {
  @include pc {
    display: flex;
    gap: 9.1rem;
  }
  &_headWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_articleWrap {
    flex-basis: 0;
    flex-grow: 1;
  }
  .el_btn {
    margin-top: 3rem;
    margin-inline: auto;
    @include pc {
      margin: 0;
    }
  }
}
