@use '../../utils/' as *;
/******************************************************************
* layout - section
* $section-sizesで定義されたサイズごとにモディファイアクラスを生成
* デフォルトはpadding marginにしたい場合は「__mg」を付与
* デフォルトは上下余白　上だけにしたい場合「__top」 下だけにしたい場合「__bottom」付与
* 例）ly_section __large,  __small, ・・・
*******************************************************************/
.ly_section {
  // normalの場合のクラス（モディファイアクラスなし）
  @include section('normal');

  // $section-sizesの各サイズに対してモディファイアクラスを生成
  @each $size-name, $sizes in $section-sizes {
    &.__#{$size-name} {
      @include section($size-name);

      &.__top {
        @include section($size-name, $_position: 'top');
      }

      &.__bottom {
        @include section($size-name, $_position: 'bottom');
      }

      &.__mg {
        @include section($size-name, 'mg');

        &.__top {
          @include section($size-name, 'mg', $_position: 'top');
        }

        &.__bottom {
          @include section($size-name, 'mg', $_position: 'bottom');
        }
      }
    }
  }
}
