# NAME
PROJECT_NAME=midorikawa
# ENV(local, stage, prod)
APP_ENV=local

DB_ROOT_PASSWORD=midorikawa0515
DB_DATABASE=midorikawa-hp_db
DB_USERNAME=midorikawa-hp
DB_PASSWORD=midorikawa-hp_dbpass
DB_HOST=db:3306

# local adress（ex: localhost)
LOCAL_ADDRESS=localhost
# local server port（ex: 8000)
LOCAL_SERVER_PORT=8000
# local db port（ex: 8000)
LOCAL_DB_PORT=3306

# wp theme名
WP_THEME_NAME=midorikawa-hp
# wp siteタイトル
WP_SITE_TITLE=緑川化成工業株式会社
# wp subディレクトリ
WP_SUB_DIR=wp-dir
# wp 管理者ユーザー名
WP_ADMIN_USER=adminUser
# wp 管理者パスワード
WP_ADMIN_PASS=adminPass
# wp 管理者メールアドレス
WP_ADMIN_MAIL=info@example.com
