# NAME
PROJECT_NAME=sample
# ENV(local, stage, prod)
APP_ENV=local

DB_ROOT_PASSWORD=sample0515
DB_DATABASE=sample-hp_db
DB_USERNAME=sample-hp
DB_PASSWORD=sample-hp_dbpass
DB_HOST=db:3306

# local adress（ex: localhost)
LOCAL_ADDRESS=localhost
# local server port（ex: 8000)
LOCAL_SERVER_PORT=8000
# local db port（ex: 8000)
LOCAL_DB_PORT=3306

# wp theme名
WP_THEME_NAME=sample-hp
# wp siteタイトル
WP_SITE_TITLE=サンプル環境サイト
# wp subディレクトリ
WP_SUB_DIR=wp-dir
# wp 管理者ユーザー名
WP_ADMIN_USER=adminUser
# wp 管理者パスワード
WP_ADMIN_PASS=adminPass
# wp 管理者メールアドレス
WP_ADMIN_MAIL=info@example.com

# wordpress container name
WP_CONTAINER=wordpress

# ホストUID・GID（自身のホスト環境の値に設定する ※make initで自動設定）
HOST_UID=1000
HOST_GID=1000

# frontend port
FRONT_PORT=3000
# frontend container
FRONT_CONTAINER=frontend

# vnu port
VNU_PORT=8888