@use '../utils/' as *;

/******************************************************************
* 共通設定
*******************************************************************/
// スタイル計算 s()の設定
@include style-settings-vars;
// テーマ切り替え用CSSの生成
@if $theme-change-mode-on == 'true' {
  @include generate-color-themes;
}

html {
  // スムーススクロールはjsで制御
  // (・GSAPなどのアニメーションと相性が悪い・画面遷移時はスムーススクロールしたくない)
  // 画面遷移を伴う場合の位置調整はscroll-padding-topで調整
  scroll-padding-top: calc(s(get-height('header-sp')) + 5.2rem);
  scroll-behavior: smooth;
}

body {
  // デザインの改行方法によって変更する
  // word-break: break-all;
  word-break: break-word;
  line-break: strict;
  font-family: get-font-family(notosans);

  background-color: get-color('bg', 'base');
  color: get-color('text', 'primary');
  width: 100%;
}

// セレクトスタイル
select {
  appearance: base-select;

  &::picker(select) {
    appearance: base-select;
    border: none;
    background-color: get-color(base, black);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    /* アニメーションも設定できる */
    // transition: scale 0.2s;

    @include hover-only {
      // scale: 1.02;
    }
  }

  &::picker-icon {
    // display: none;
  }

  option {
    padding-inline: 1rem;
    color: get-color('base', 'white');

    &::checkmark {
      display: none;
    }

    &:checked {
      background-color: get-color('base', 'accent') !important;
      color: get-color('base', 'black');
    }

    &:hover {
      background-color: get-color('base', 'black');
      color: get-color('base', 'black');
    }
  }
}

// picutreはスタイル上無視
picture {
  display: contents;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

textarea,
dt,
dd,
button {
  line-height: inherit;
}

address {
  font-style: normal;
}

textarea {
  resize: vertical;
  overflow-y: auto;
}

a,
span {
  display: inline-block;
}

button {
  display: inline-block;
  text-align: left;
  font: inherit;
  color: inherit;
}

// 見出し要素（タイトル的な英文字にRocknRollフォントを適用）
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: get-font-family('rocknroll-one');
}

// テキスト選択時のスタイル
::selection {
  color: get-color('selection', 'selection-text');
  background-color: get-color('selection', 'selection-bg');
}

::-moz-selection {
  color: get-color('selection', 'selection-text');
  background-color: get-color('selection', 'selection-bg');
}

// フォーカス時のoutlineスタイル
:focus-visible {
  outline: 2px solid get-color('ui', 'focus-outline');
  outline-offset: 2px;
}

// 補正入力選択時
input:-internal-autofill-selected,
textarea:-internal-autofill-selected {
  background-color: transparent !important;
}
