@use '../../utils' as *;

.el_label {
  @include font(11, 11, 0, 700);
  background-color: $color_theme_bg;
  border-radius: 100vh;
  color: $color_theme;
  padding: .3rem 1.3rem;
  width: fit-content;
  @include pc {
    font-size: 1.2rem;
  }
  &.__white {
    background-color: $color_white
  }
  &.__lg {
    font-size: 1.3rem;
    padding-block: .45rem;
    @include pc {
      font-size: 1.4rem;
    }
  }
}

.el_btn {
  @include font(14, 14, 0, 700);
  cursor: pointer;
  line-height: 2.5rem;
  padding-inline: 2rem;
  height: 2.5rem;
  width: fit-content;
  background-color: $color_theme_bg;
  color: $color_theme;
  border-radius: 100vh;
  transition: background-color .2s, color .2s;
  @include hover {
    background-color: $color_theme_hv !important;
    color:  $color_white !important;
    &::after {
      background-image: url(#{$image_path}icon_arow_right_white.svg) !important;
    }
  }
  &.__color {
    background-color: $color_theme;
    color: $color_white;
  }
  &.__type2 {
    @include font(18, 18, 25, 700);
    border-radius: 100vh;
    background-color: $color_theme;
    color: $color_white;
    height: 4.7rem;
    width: 23.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    @include pc {
      font-size: 1.7rem;
      width: fit-content;
      min-width: 19.4rem;
    }
    &::after {
      content: "";
      display: block;
      background-image: url(#{$image_path}icon_arow_right_white.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: .8rem;
    }
    &.__white {
      background-color: $color_white;
      color: $color_theme;
      &::after {
        background-image: url(#{$image_path}icon_arow_right_color.svg);
      }
    }
    &.__wide {
      width: 35rem;
      margin-inline: auto;
      @include pc {
        width: fit-content;
      }
    }
    &.__small {
      @include spLayoutOnly {
        width: 19.5rem !important;
      }
      @include pc {
        font-size: 1.4rem;
        height: 3.7rem;
      }
    }
    &.__noIcon {
      &::after {
        display: none;
      }
    }
  }
}

.el_sliderBtn {
  @include hoverOpacity;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 10;
  &.__prev {
    transform: scale(-1, 1);
  }
}

.el_labelHead {
  @include font(18, 24, 0, 700);
  padding-block: 1.2rem;
  padding-left: 2rem;
  color: $color_white;
  background-color: $color_gray;
  @include pc {
    @include font(25, 25, 100, 700);
    padding-block: .9rem;
  }
  &.__large {
    font-size: 2.2rem;
    @include pc {
      font-size: 2.5rem;
    }
  }
}

.el_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba($color_dark , 0.5);
  display: none;
  z-index: 9999;
  &_spinner {
    width: 4.8rem;
    height: 4.8rem;
    border: .6rem solid $color_white;
    border-top-color: $color_theme;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
.el_link {
  color: $color_theme;
  &:hover {
    color: $color_theme_dark;
  }
  i {
    margin-right: .2rem;
  }
}