@use '../../utils' as *;

.header_area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: $height_header_sp;
  box-shadow: 0 .1rem 0 rgba($color_dark, .16);
  transition: background-color .3s;
  border-bottom: max(.05rem, .5px) solid $color_white;
  transition: transform 1.3s;
  @include pc {
    height: $height_header_pc;
  }
  &.is_first {
    transform: translateY(-100%);
  }
  &.is_menuOpen {
    background-color: $color_theme;
    .header_logoWrap_logo {
      display: none;
      &.__white {
        display: block;
      }
    }
  }
  &.is_top {
    .header_logoWrap_text {
      color: $color_white;
    }
    .header_nav_link {
      color: $color_white;
    }
    .header_nav_anchorList {
      background-color: rgba($color_white, .61);
    }
  }
}

.header_inner {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  @include pc {
      align-items: flex-end;
  }
}

.header_logoWrap {
  width: 22rem;
  @include pc {
    width: 35rem;
    padding-bottom: 2.4rem;
  }
  &_logo {
    width: 100%;
    height: auto;
    &.__white {
      display: none;
    }
  }
  &_text {
    white-space: nowrap;
    transition: color .3s;
    @include pc {
      @include font(11, 11, 50, 700);
      margin-top: .4rem;
    }
  }
}

.header_nav {
  $_bk: &;
  flex-basis: 0;
  flex-grow: 1;
  &_top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 1.5rem;
  }
  &_topInner {
    padding-left: 1.85rem;
    margin-left: .3rem;
    position: relative;
    &::before {
    @include pc {
      content: "";
      display: block;
      background-color: $color_black;
      width: max(.1rem, 1px);
      height: 1.6rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  }
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 2.75rem;
  }
  &_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  &_item {
    position: relative;
    &:last-of-type {
      #{$_bk}_link {
        @include pc {
          padding-right: 0;
        }
      }
    }
  }
  &_link {
    cursor: default;
    @include font(16, 16, 0, 700);
    transition: color .3s;
    &:not(.__nolink) {
      @include hoverColor;
    }
    @include pc {
      padding-bottom: 1.8rem;
      padding-top: 2.5rem;
      padding-inline: 2rem;
    }
  }
  &_anchorList {
    display: none;
    position: absolute;
    left: -1.3rem;
    bottom: 0;
    border-radius: 0 0 2rem 2rem;
    background-color: rgba($color_white, 9);
    transform: translateY(100%);
    width: fit-content;
    padding-block: .5rem;
    &.__language {
      left: auto;
      right: -1.6rem;
      @include spLayoutOnly {
        border-radius: .8rem;
        transform: translate(100%, 0);
      }
      @include pc {
        right: -1.2rem;
      }
    }
    &_item {
      &:not(:first-of-type) {
        border-top: max(.1rem, 1px) solid $color_white;
      }
    }
    &_link {
      @include font(16, 16, 0, 700);
      @include hoverColor;
      white-space: nowrap;
      padding-inline: 2.9rem 3.8rem;
      padding-block: .8rem;
      &.__disabled {
        pointer-events: none;
        color: $color_gray;
      }
    }
  }
}

.header_language {
  padding-left: .8rem;
  position: relative;
  &_icon {
    width: 3rem;
    @include pc {
      width: 1.9rem;
    }
  }
  @include pc {
    padding-left: 2.75rem;
    padding-bottom: 1.8rem;
    padding-top: 2.5rem;
  }
  &::before {
    @include pc {
      content: "";
      display: block;
      background-color: $color_black;
      width: max(.1rem, 1px);
      height: 1.6rem;
      position: absolute;
      left: 0;
      top: 2.7rem;
    }
  }
}

.header_menuBtn {
  width: 3rem;
  height: 1.3rem;
  position: relative;
  span {
    width: 100%;
    height: max(.1rem, 1px);
    background-color: $color_theme;
    border-radius: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform .3s, opacity .3s;
    &:nth-of-type(1) {
      transform: translate(-50%, calc(-50% - .7rem));
    }
    &:nth-of-type(2) {
      transform: translate(-50%, -50%);
    }
    &:nth-of-type(3) {
      transform: translate(-50%, calc(-50% + .7rem));
    }
  }
  &.is_active {
    span {
      background-color: $color_white;
      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(30deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translate(-50%, -50%) rotate(-30deg);
      }
    }
  }
}

.header_menu {
  display: none;
  position: absolute;
  left: 0;
  top: $height_header_sp;
  background-color: $color_theme_bg;
  height: calc(100dvh - $height_header_sp);
  width: 100%;
  @include pc {
    top: $height_header_pc;
  }
  &_inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 5rem;
  }
  &_item {
    &:nth-of-type(n + 2) {
      margin-top: 3rem;
    }
  }
  &_label {
    color: $color_theme;
    @include font(9, 9, 0, 700);
  }
  &_accordionWrap {
    margin-top: .9rem;
  }
  &_accordionBtn {
    position: relative;
    padding-bottom: 1rem;
    border-bottom: max(.1rem, 1px) solid $color_theme;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 1.2rem;
      height: .225rem;
      background-color: $color_theme;
      border-radius: 100vh;
      position: absolute;
      top: 50%;
      right: 0;
    }
    &::before {
      transform: translateY(-50%);
    }
    &::after {
      transform: translateY(-50%) rotate(-90deg);
      transition: transform .3s;
    }
    &.is_active {
      &::after {
              transform: translateY(-50%) rotate(0);
      }
    }
    &.__noIcon {
      &::before,
      &::after {
        display: none;
      }
    }
  }
  &_subject {
    @include font(21, 21, 50, 700);
  }
  &_navWrap {
    display: none;
  }
  &_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5.7rem;
    padding-top: 2rem;
    &.__space {
      gap: 2rem 3rem;
    }
  }
  &_link {
    @include font(13, 13, 0);
    &.__min60 {
      min-width: 6rem;
    }
    &.__min144 {
      min-width: 14.4rem;
    }
  }
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9rem;
    padding-bottom: 1rem;
    border-bottom: max(.1rem, 1px) solid $color_theme;
    width: 100%;
  }
  &_policy {
    @include font(11, 11, 0, 700);
    color: $color_gray;
    text-align: right;
  }
  &_copy {
    @include font(11, 11, 0, 700);
    color: $color_gray;
    text-align: center;
    padding-block: .9rem;
  }
}