@use '../../utils' as *;

.ly_main {
  &.__top {
    background-image: url(#{$image_path}bg_mask_sp.jpg);
    background-size: 100%;
    @include pc {
      background-image: url(#{$image_path}bg_mask.jpg);
    }
  }
}

.ly_container {
  @include container;
  &.__mx785 {
    @include container(785)
  }
  &.__mx917 {
    @include container(917)
  }
  &.__mx922 {
    @include container(922)
  }
  &.__mx962 {
    @include container(962)
  }
  &.__mx950 {
    @include container(950)
  }
  &.__mx976 {
    @include container(976)
  }
  &.__mx982 {
    @include container(982)
  }
  &.__mx1023 {
    @include container(1023)
  }
  &.__mx1028 {
    @include container(1028)
  }
  &.__mx1180 {
    @include container(1180)
  }
  &.__spMax {
    @include spLayoutOnly {
      max-width: unset;
      width: 100%;
    }
  }
  &.__left {
    @include pc {
      max-width: 128.8rem;
      width: 95%;
      margin-inline: auto 0;
    }
  }
}

.ly_section {
  padding-top: 8rem;
  @include pc {
    padding-top: 13rem;
  }
  &.__ptLarge {
    padding-top: 15rem !important;
  }
  &.__ptSmall {
    padding-top: 6rem !important;
    @include pc {
      padding-top: 9rem !important;
    }
  }
  &.__ptSmaller {
    padding-top: 3rem !important;
  }
  &.__pB {
    padding-block: 8rem;
    @include pc {
      padding-block: 13rem;
    }
  }
  &.__color {
    padding-block: 8rem;
    background-color: $color_theme_bg;
    @include pc {
      padding-block: 8.8rem;
    }
  }
  &.__gray {
    padding-block: 8rem;
    background-color: $color_gray2;
    @include pc {
      padding-block: 8.8rem;
    }
  }
  &.__grayPbLarge {
    padding-block: 8rem;
    background-color: $color_gray2;
    @include pc {
      padding-block: 8.8rem 15rem;
    }
  }
}

.ly_flexContainer {
  @include pc {
    display: flex;
  }
}

.ly_flexInner {
  @include pc {
    width: calc(100% - 24.5rem);
    margin-left: auto;
  }
  .ly_container {
    @include pc {
      max-width: unset;
      margin-inline: 0;
      width: 100%;
      max-width: max(((1195 - 130) * 1rem / 10), vw((1195 - 130), $design_size_pc));
      padding-left: vw(83, $design_size_pc);
      padding-right: 2rem;
    }
    &.__noRight {
      @include pc {
        max-width: unset;
        margin-left: auto;
        padding-right: 0;
      }
    }
    &.__noLeft {
      @include pc {
        padding-left: 0;
      }
    }
  }
}

.ly_flexSide {
  @include pc {
    position: relative;
    width: 24.5rem;
    min-width: 24.5rem;
    padding-left: 4.35rem;
  }
}