@charset "UTF-8";
@use '../utils' as *;

.rearlight_subHead {
  @include font(12, 12, 0, 700);
  margin-top: 3.3rem;
  text-align: center;
  color: $color_theme;
  width: 100%;
  @include pc {
    font-size: 2.6rem;
    margin-top: 12.7rem;
  }
}

.rearlight_head {
  @include font(26, 26, 50, 700);
  text-align: center;
  margin-top: 1.3rem;
  @include pc {
    @include font(60, 60, 0, 700);
    margin-top: 2.9rem;
  }
}

.rearlight_aboutWrap {
  @include pc {
    display: flex;
    gap: 4.5rem;
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_imgWrap {
    width: 100%;
    @include pc {
      width: 50.3rem;
      min-width: 50.3rem;
    }
    img {
      aspect-ratio: 350 / 229;
      width: 100%;
      object-fit: cover;
      object-position: center;
      @include pc {
        aspect-ratio: 503 / 366;
      }
    }
  }
  &_text {
    @include font(13, 20, 25);
    margin-top: 2.5rem;
    @include pc {
      @include font(16, 30, 100);
      margin-top: 5.5rem;
      padding-right: 3.5rem;
    }
  }
}

.rearlight_feature {
  .bl_cardList {
    @include pc {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2.5rem;
    }
  }
}

.rearlight_scene {
  &_item {
    padding-block: 4.7rem 5rem;
    border-bottom: .3rem solid $color_theme;
    position: relative;
    @include pc {
      align-items: center;
      display: flex;
      gap: 10.2rem;
      padding-inline: 8rem 3.8rem;
    }
    &:first-of-type {
      border-top: .3rem solid $color_theme;
    }
  }
  &_number {
    @include font(12, 12, 0, 700);
    color: $color_theme;
    position: absolute;
    top: 1rem;
    left: 0;
    @include pc {
      font-size: 1.3rem;
    }
  }
  &_head {
    @include font(27, 32, 25, 700);
    @include pc {
      @include font(25, 30, 100, 700);
      min-width: 21rem;
    }
  }
}

.rearlight_textWrap {
  @include pc {
    flex-basis: 0;
    flex-grow: 1;
  }
  &_subject {
    @include font(18, 18, 0, 700);
    margin-top: 3rem;
    @include pc {
      @include font(20, 20, 50, 700);
      margin-top: 0;
    }
  }
  &_text {
    @include font(12, 18, 0);
    margin-top: 1.5rem;
    @include pc {
      @include font(16, 24, 50);
      margin-top: 1.1rem;
    }
  }
}

.rearlight_explain {
  @include pc {
    display: flex;
    gap: 7rem;
    align-items: center;
  }
  &_textWrap {
    @include pc {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  &_text {
    @include font(18, 30, 0, 700);
    @include pc {
      @include font(20, 30, 50, 700);
      margin-top: 2.4rem;
    }
  }
  &_imgWrap {
    margin-top: 3rem;
    @include pc {
      margin-top: 0;
      width: 55.7rem;
      min-width: 55.7rem;
    }
    img {
      width: 100%;
    }
  }
  .el_btn {
    &.__wide {
      margin-top: 3rem;
      margin-inline: auto;
      @include pc {
        margin-top: 3.9rem;
        margin-inline: 0;
      }
    }
  }
}

.rearlight_contactWrap {
  background-color: $color_theme_bg;
  padding-block: .1rem 8rem;
  @include pc {
    max-width: 85.3rem;
    margin-inline: auto;
    padding-inline: 10.6rem;
    padding-block: 4.4rem 7.3rem;
  }
}