@charset "UTF-8";
@use '../utils' as *;

.sdgs_intro {
  @include font(13, 20, 50);
  margin-top: 2.5rem;

  @include pc {
    @include font(16, 30, 100);
    margin-top: 2.8rem;
  }
}

.sdgs_section {
  margin-top: 5rem;

  @include pc {
    margin-top: 4.4rem;
  }

  &:nth-of-type(n + 2) {
    @include pc {
      margin-top: 9.3rem;
    }
  }
}

.sdgs_imgWrap {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: .9rem;

  @include pc {
    margin-top: 3.7rem;
    gap: 2.3rem;
  }

  img {
    width: 7rem;

    @include pc {
      width: 18.8rem;
    }
  }
}

.sdgs_outline {
  $_bk: &;
  margin-top: 3.1rem;

  @include pc {
    margin-top: 4.4rem;
  }

  &_item {
    &:nth-of-type(n + 2) {
      margin-top: 4rem;

      @include pc {
        margin-top: 3.5rem;
      }
    }
  }

  &_head {
    @include font(18, 30, 0, 700);
    display: flex;
    align-items: center;
    gap: 1.7rem;

    @include pc {
      @include font(20, 24, 100, 700);
      gap: 1.9rem;
    }

    &::before {
      content: "";
      display: block;
      min-width: .5rem;
      height: 2.7rem;
      background-color: $color_theme;

      @include pc {
        min-width: .8rem;
        height: 3.8rem;
      }
    }
  }

  &_textWrap {
    @include pc {
      display: flex;
      flex-wrap: wrap;
      gap: 4.3rem;
    }

    &.__bk {
      @include pc {
        display: block;
      }
    }

    &.__gap {
      @include pc {
        gap: 5.9rem;
      }
    }
  }

  &_text {
    @include font(12, 18, 0);
    margin-top: 1.5rem;

    @include pc {
      @include font(16, 30, 50);
      margin-top: 2.3rem;
      flex-basis: 0;
      flex-grow: 1;
    }

    &.__noMt {
      margin-top: 0 !important;
    }

    &.__circle {
      display: flex;
      gap: .4rem;

      &::before {
        content: "●";
        display: inline-block;
        min-width: 1.5rem;
      }

      &+#{$_bk}_text.__circle {
        margin-top: 0 !important;
      }
    }

    span {
      font-weight: 700;
    }
  }

  &_rearlight {
    margin-top: 2rem;

    @include pc {
      margin-top: 0;
      width: 51rem;
      min-width: 51rem;
    }
  }

  &_img {
    margin-top: 2.5rem;

    @include pc {
      width: 32.3rem;
      min-width: 32.3rem;
      margin-top: 0;
    }

    img {
      aspect-ratio: 350 / 217;
      width: 100%;
      height: auto;
      object-fit: cover;

      @include pc {
        aspect-ratio: 323 / 242;
      }
    }
  }
}

.sdgs_worksList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  margin-top: 3.1rem;

  @include pc {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.4rem 1.3rem;
  }

  &_item {
    cursor: pointer;
    border: max(.1rem, 1px) solid $color_gray3;
    background-color: $color_white;
    border-radius: 1rem;
    height: 14.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    transition: color .2s, border .2s;

    @include pc {
      height: 15.9rem;
    }

    @include hover {
      border-color: $color_theme;
      color: $color_theme;
      img {
        transform: scale(1.05);
      }
    }

    &.__disabled {
      pointer-events: none;
    }

    img {
      width: auto;
      max-width: 95%;
      height: 6.5rem;
      object-fit: contain;
      transition: transform .3s;

      @include pc {
        height: 7.5rem;
        max-width: 85%;
      }
    }
  }

  &_text {
    @include font(12, 18, 50, 700);
    text-align: center;

    @include pc {
      margin-top: 2rem;
    }
  }
}

.sdgs_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100dvh;
  width: 100%;

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color_black, .6);
  }

  &_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 70rem;
    background-color: $color_white;
    padding-block: 1rem;
    padding-inline: .5rem;
    @include pc {
      padding-block: 2rem;
      padding-inline: 1rem;
    }
  }

  &_close {
    position: absolute;
    top: -1rem;
    right: 0;
    width: 2.3rem;
    height: 2.3rem;
    transform: translateY(-100%);

    @include pc {
      width: 3.5rem;
      height: 3.5rem;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: $color_white;
      border-radius: 100vh;
      width: 100%;
      height: .3rem;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &_inner {
    overflow-y: auto;
    max-height: min(80dvh, calc(100dvh - 14rem));
    margin-block: 2rem;
    padding-inline: 1rem;
    @include pc {
      max-height: min(80dvh, calc(100dvh - 18rem));
      margin-block: 2rem;
      padding-inline: 3rem
    }
  }

  &_head {
    @include font(16, 16, 0, 700);
    margin-bottom: 2rem;

    @include pc {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
  }

  &_img {
    width: 100%;
    height: auto;
    box-shadow: .5rem .5rem 1rem rgba($color_black, .25)
  }

  &_text {
    @include font(15, 22, 0, 700);
    margin-top: 2rem;

    @include pc {
      font-size: 1.6rem;
      margin-top: 4rem;
    }

    a {
      @include hoverOpacity;
      text-decoration: underline;
      color: $color_theme;
    }
  }
}