@use 'variables' as *;
@use 'functions' as *;

/////////////////////////////////////////
//  @media
/////////////////////////////////////////
// SPのみ
@mixin spOnly() {
  @media screen and (width < unit($break_tab, 'px')) {
    @content;
  }
}

// タブ以上
@mixin tab() {
  @media screen and (unit($break_tab, 'px') <= width) {
    @content;
  }
}

// タブのみ
@mixin tabOnly() {
  @media screen and (unit($break_tab, 'px') <= width < unit($break_pc, 'px')) {
    @content;
  }
}

// SPレイアウトのみ
@mixin spLayoutOnly() {
  @media screen and (width < unit($break_pc, 'px')) {
    @content;
  }
}

// PC以上
@mixin pc() {
  @media screen and (unit($break_pc, 'px') <= width) {
    @content;
  }
}

// PCのみ
@mixin pcOnly() {
  @media screen and (unit($break_pc, 'px') <= width < unit($break_pcL, 'px')) {
    @content;
  }
}

// PC～PCLまで
@mixin pcToLOnly() {
  @media screen and (unit($break_pc, 'px') <= width < unit($break_pcL, 'px')) {
    @content;
  }
}

// PC～PCLLまで
@mixin pcToLLOnly() {
  @media screen and (unit($break_pc, 'px') <= width < unit($break_pcLL, 'px')) {
    @content;
  }
}

// PCL以上
@mixin pcL() {
  @media screen and (unit($break_pcL, 'px') <= width) {
    @content;
  }
}

// PCLのみ
@mixin pcLOnly() {
  @media screen and (unit($break_pcL, 'px') <= width < unit($break_pcLL, 'px')) {
    @content;
  }
}

//PCLL以上
@mixin pcLL() {
  @media screen and (unit($break_pcLL, 'px') <= width) {
    @content;
  }
}

// 高さメディアクエリ
// $break ～$break(含まない)の高さに適用
@mixin heightMediaMax($break) {
  @media screen and ($break <= height) {
    @content;
  }
}

// 高さメディアクエリ
// $break $break～の高さに適用
@mixin heightMediaMin($break) {
  @media screen and ($break > height) {
    @content;
  }
}

/////////////////////////////////////////
//  @media hover
/////////////////////////////////////////
// hover要素、非hover要素　両指定
@mixin hover() {
  //hover(PC)
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  //非hover(スマホ)
  @media (hover: hover), (hover: none) {
    &:active {
      @content;
    }
  }
}

// hover要素のみ指定
@mixin hoverOnly() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}


/////////////////////////////////////////
//  @media print
/////////////////////////////////////////
@mixin print {
  @media print {
    @content;
  }
}


/////////////////////////////////////////
//  hover style
/////////////////////////////////////////
//透過
@mixin hoverOpacity {
  cursor: pointer;
  transition: opacity .3s;
  @include hover {
    opacity: .65;
  }
}

@mixin hoverColor {
  cursor: pointer;
  transition: color .2s;
  @include hover {
    color: $color_theme !important;
  }
}


////////////////////////////////////////
//  font
/////////////////////////////////////////
// フォントスタイル(以下に該当しないもの)
@mixin font($size, $line, $space, $weight: 400, $family: $font-f_biz) {
  font-family: $family;
  font-weight: $weight;
  font-size: calc($size / 10 * 1rem);
  letter-spacing: calc($space / 1000 * 1em);
  line-height: $line / $size
}


/////////////////////////////////////////
//  コンテナ
/////////////////////////////////////////
@mixin container($max: 0) {
  margin-inline: auto;
  width: $width_container_sp;
  @include pc {
    width: $width_container_pc;
    @if $max != 0 {
      width: calc($max / 10 * 1rem);
    }
  }
}


/////////////////////////////////////////
//  スクロールバー
/////////////////////////////////////////
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color_04;
    border-radius: 100vh;
  }
}

@mixin scrollbar_area {
  &::-webkit-scrollbar {
    width: 6px;
    @include pc {
      width: 11px;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color_gray11;
    border-radius: 100vh;
  }
}

@mixin scrollbar_none {
  &::-webkit-scrollbar {
    width: 0;
  }
}


/////////////////////////////////////////
//  その他
/////////////////////////////////////////
// flex要素のwidthを取得(均等割り)
// $num 並べる個数
// $gap 間の余白(rem, px)
@mixin flexSize($num, $gap, $important:"") {
  width: calc((100% / $num) - ($gap * ($num - 1) / $num));
  @if $important == "!important" {
    width: calc((100% / $num) - ($gap * ($num - 1) / $num)) !important;
  }
}

// 文字数による横幅を取得し、最大幅にセットする
// $num 文字数
// $font_size フォントサイズ (単位あり)
// $letter-spacing 文字間
@mixin widthStringSet($num, $font_size, $letter_spacing) {
  max-width: widthString($num, $font_size, $letter_spacing);
}

// 行省略
// $line:行数
// $font_size:フォントサイズ 単位あり
// $line_height:行間 (例 1.5)
// $height_set:heightに高さを設定するかどうか(設定する場合true)
@mixin omission($line, $font_size, $line_height, $height_set: 0) {
  @if $height_set != 'true' {
    max-height: heightString($line, $font_size, $line_height);
  }
  @else {
    height: heightString($line, $font_size, $line_height);
  }
  overflow: hidden;
  @if $line == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}
