@use 'functions' as f;

////////////////////////////////////////////////////////////////////////////////
///
///  layout
///
////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////
//  デザインサイズ
/////////////////////////////////////////
$design_size_sp: 390;
$design_size_pc: 1440;


/////////////////////////////////////////
//  スクロールバー幅バッファ
/////////////////////////////////////////
$width_scrollbar: 20px;


/////////////////////////////////////////
//  pc時の左右余白最低値
/////////////////////////////////////////
$padding_container_pc: 2rem;


/////////////////////////////////////////
//  デザインのコンテナ
/////////////////////////////////////////
// SPデザインのコンテナサイズ
$design_container_sp: 350;

// PCデザインのコンテナサイズ
// (PC時に確保したいコンテナ幅->リキッドとレスポンシブの境界)
$design_container_pc: 1140;


/////////////////////////////////////////
//  PC時に最低限確保する幅
//  (確保したいコンテナ幅 + 確保したい左右余白 + スクロールバッファ)
/////////////////////////////////////////
$minWidth_container_pc: calc($design_container_pc + (f.unit($padding_container_pc) * 10 * 2) + f.unit($width_scrollbar));


/////////////////////////////////////////
//  コーディングのコンテナ
/////////////////////////////////////////
// SPコンテナサイズ(%で可変し続ける)
$width_container_sp: f.toPer($design_container_sp, $design_size_sp);

// PCコンテナサイズ(remで可変 + 固定 -> 固定値の数値を格納)
// レスポンシブレイアウト間はコンテナ幅を固定値設定 左右の余白が大きくなる
$width_container_pc: calc($design_container_pc / 10 * 1rem);


/////////////////////////////////////////
//  ブレイクポイント
/////////////////////////////////////////
$break_tab: 650;
$break_pc:  960;
// $design_container_pcを確保できる画面幅 これ以下リキッド これ以上レスポンシブ
// (確保したいコンテナ幅 + 最低左右余白 + スクロールバーのバッファ)
$break_pcL: $minWidth_container_pc;
// デザインサイズ(再びリキッドになる点)
$break_pcLL: 1600;


/////////////////////////////////////////
//  リキッド基準値
/////////////////////////////////////////
//SP
$liquid_point_sp: $design_size_sp;
//pc～pcL
$liquid_point_pc: $break_pcL;
//pcLL～
$liquid_point_pcL: $break_pcLL;


////////////////////////////////////////////////////////////////////////////////
///
///  color
///
////////////////////////////////////////////////////////////////////////////////
//各種色(figmaの命名に一致)
$color_black: #343232;
$color_white: #FFF;
$color_dark: #000;
$color_theme: #009944;
$color_theme_dark: #0D5C30;
$color_theme_dark2: #254A0B;
$color_theme_dark3: #004D22;
$color_theme_bg: #E2EBE6;
$color_theme_bg2: #B8CFBF;
$color_theme_hv: #74887D;
$color_gray: #A3A3A3;
$color_gray2: #F4F4F4;
$color_gray3: #707070;
$color_gray4: #808080;
$color_gray5: #CED5D1;
$color_gray6: #74887D;
$color_gray7: #9A9A9A;
$color_gray8: #898989;
$color_gray9: #F2F2F2;
$color_gray10: #C7C7C7;
$color_gray11: #C1C1C1;
$color_gray12: #989898;
$color_gray13: #D1D1D1;
$color_gray14: #CED8D2;
$color_gray15: #E6E6E6;
$color_dark_bg: #464646;
$color_point: rgb(193, 40, 40);
$color_gradient: transparent linear-gradient(180deg, #FFFFFF 0%, #F2F3F2 71%, #B6CEBE 100%) 0% 0% no-repeat padding-box;



////////////////////////////////////////////////////////////////////////////////
///
///  font
///
////////////////////////////////////////////////////////////////////////////////
$font-f_biz: "BIZ UDPGothic", sans-serif;
$font-f_noto: "Noto Sans", sans-serif;

////////////////////////////////////////////////////////////////////////////////
///
///  image
///
////////////////////////////////////////////////////////////////////////////////
//画像ファイルパス
$image_path: '../images/';


////////////////////////////////////////////////////////////////////////////////
///
///  header height
///
////////////////////////////////////////////////////////////////////////////////
$height_header_sp: 5.2rem;
$height_header_pc: 10.4rem;


////////////////////////////////////////////////////////////////////////////////
///
///  border style
///
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
///
///  others
///
////////////////////////////////////////////////////////////////////////////////
